.scrollme {
      max-height: 200px;
    }
.form-group div[class*="col-"],.form-group span[class*="col-"]{padding: 0;}  
.form-group div[class*="checkboxes col-"]{padding-top: 5px;}
.panel-body.form-group span[class*="col-"],.panel-body.form-group div[class*="col-"]  {margin-bottom: 10px;}
button.btn-filter i {margin-left: 10px;}
button.btn-filter i.btn-filter-left{margin-right:10px; }
.dropdown-menu .seperator{height:1px;margin:5px 0 10px 0;background: #0096d6;}
.dropdown-menu .mid-ctrl li{list-style: none;padding: 4px 12px; cursor: pointer;}
.dropdown-menu .mid-ctrl li:hover{background: #0096d6;color:#fff;}
button:focus,*:focus,*:active, .btn:active,.btn:focus {outline:0 !important ; -webkit-box-shadow: none !important; box-shadow: none !important;}
.loading-spiner-holder{position: fixed;width: 100%;height:100%;z-index: 3000;background-color: rgba(0,0,0,0.4);text-align: center;display: none;}
.loading-spiner{position: absolute;width: 100%;margin: 10% auto;}
.timepicker-wrapper .timepicker .btn-primary{border-radius: 0;padding: 5px;}
.timepicker-wrapper .timepicker {padding:5px;}
.input-group.datetimepicker-date {float:left;margin-bottom: 5px;}
.input-group.datetimepicker-date .input-group-addon {border:0px;padding:6px;}
.input-group.datetimepicker-date .btn-now{border-left: 1px solid #cecece}

/* ngscrollbar area */
.ngsb-wrap {
  -ms-touch-action: none;
}
.ngsb-wrap .ngsb-container {
  width: auto;
  overflow: hidden;
  transition: 0.5s all;
}
.ngsb-wrap:hover .ngsb-scrollbar {
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
  /* old ie */
}
.ngsb-wrap .ngsb-scrollbar {
  width: 16px;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0.75;
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
  /* old ie */
}
.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
}
.ngsb-wrap .ngsb-scrollbar a.ngsb-thumb-container {
  margin: 20px 0;
}
.ngsb-wrap .ngsb-scrollbar .ngsb-track {
  height: 100%;
  margin: 0 auto;
  width: 6px;
  background: #000;
  background: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
  /* old ie */
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
}
.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos {
  cursor: pointer;
  width: 100%;
  height: 30px;
}
.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos .ngsb-thumb {
  transition: 0.5s all;
  width: 4px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  background: #fff;
  /* rgba fallback */
  background: rgba(255, 255, 255, 0.4);
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
  /* old ie */
}
.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos:hover .ngsb-thumb {
  background: rgba(255, 255, 255, 0.5);
  filter: "alpha(opacity=50)";
  -ms-filter: "alpha(opacity=50)";
  /* old ie */
}
.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos:active {
  background: rgba(255, 255, 255, 0.6);
  filter: "alpha(opacity=60)";
  -ms-filter: "alpha(opacity=60)";
  /* old ie */
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
background-color: transparent;
color: #333;
}

.btn-all, .btn-none {
  font-size: 14px;
  padding: 3px 20px;
}
.input-group-addon{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.popover-title{
  background-color: #0096d6;
  color: #fff;
}

.col-sm-6 .col-h {
  width: 50%;
}




button.ctm-content {
  position: relative;
  text-align: left;
}

.ctm-content > span {
  position: absolute;
  right: 5px;
}




.placeholders .input-group-addon {
  background-color: #0096d6;
  color: #fff;
  border: none;
}



/*.dropdown-menu {
  min-width: 250px;
  border-radius: 0;
}*/

.dropdown-menu i{color:#5a5a5a;}





.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 10px;
  min-width: 200px;
}

.sub-header ul {
  padding: 10px;
}



.top-content .ctm-width {
   min-width:100px;
}

.top-content .ctm-content {
  min-width:250px;
}

.top-content .ctm-r label {
  margin-top: 5px;
}

.btn-filter {
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-radius: 0px;
  border-right: 1px solid #ddd;
  margin-left: 0px;
  background-color: #Fff;
}

.top-content .input-group.datetimepicker-date {
  float: left;
  padding-right: 0px;
  margin-bottom: 0px;
}

.datetimepicker-time .dropdown-menu.timepicker .btn,.datetimepicker-date .dropdown-menu.datepicker .btn {border-radius: 0;padding:5px 8px;width: 100%;}
.datetimepicker-time .dropdown-menu.timepicker {padding:5px;text-align: center;}

.input-group-btn .btn{padding:2px 6px;}
.input-group-btn:last-child > .btn, .input-group-addon {border-radius: 0;}
.input-group-btn > .btn {margin-right: -1px;}
.input-group-btn{border:1px solid #0096d6;}
.checkboxes{margin-bottom: 5px;padding-left:15px !important;height:34px;}
.checkboxes label{padding-left: 0;}
input[type="radio"],
input[type="checkbox"] {
  display:none;
}

input[type="radio"] + span:before,
input[type="checkbox"] + span:before {
  position: relative;
  margin-right: 10px;
  top: 1px;
  left:0px;
  font-size: 16px;
  display: inline-block;
  font-family: 'icomoon';
  font-style: normal;
  font-weight: bold;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


input[type="radio"] + span:before , input[type="checkbox"] + span:before {
  content: "\e73b"; /* unchecked */
  color:#ccc;
}

input[type="radio"]:checked + span:before, input[type="checkbox"]:checked + span:before {
  content: "\e73a";; /* check */
  color:#0096d6;
}
 /*.btn {border-radius: 0;border:0;}*/
 .btn-default{
  border-radius: 0;border:0;
 }
 .btn-hp{
  border-radius: 0;border:0;
  font-family: "HP Simplified", Arial;
  background: none repeat scroll 0 0 #0096d6;
  color: #FFF !important;
  border-top-right-radius: 4px !important;
  border-bottom-left-radius: 4px !important;  
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  padding: 5px 14px;
  text-transform: capitalize;
  margin: 0 2px;
}

.btn-border {
  border: 1px solid #ccc;
}
.selector{cursor: pointer;position: relative;}
.selector>div>span {float:right;color:#0096d6;}
 .datetimepicker-wrapper {
  vertical-align: middle;
  display: inline-block;
}
.selector .dropdown-menu{left:0;top: 95%;border-radius: 0;width: 100%;border: 1px solid #ccc;}
.datetimepicker-wrapper > input {
  margin-bottom: 0 !important;
  width: 130px;
}

.datetimepicker-wrapper [ng-model=hours], 
.datetimepicker-wrapper [ng-model=minutes] {
  width: 46px !important;
}

.form-horizontal{padding:10px 0;}
.form-control {margin-bottom:5px;border-radius:0;  height: 28px; padding: 3px 6px;}
.icon-blue {
  color: #0096d6;
 }
.form-heading{  
  color: #444;
  background-color: #fff;
  border-color: #cfdbe2;
  font-size:16px;
  font-weight: bold;
}

/*latest wan incident label*/

.ngCell  {
  display : table-cell;
  height: auto !important;
  overflow:visible;
  position: static;
}

.ngRow {
  display : table-row;
  height: auto !important;
  position: static;
}

.ngCellText{
  height: auto !important;
  white-space: normal !important;
  overflow:visible;
}

#loading-bar .bar {

  background: #d62;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 80px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: #d62 1px 0 6px 1px;
  -ms-box-shadow: #d62 1px 0 6px 1px;
  -webkit-box-shadow: #29d 1px 0 6px 1px;
  box-shadow: #d62 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 5px;
  left: 12px;
}

#loading-bar-spinner .spinner-icon {
  width: 37px;
  height: 36px;

  border:  solid 3px transparent;
  border-top-color:  #FFF;
  border-left-color: #FFF;
  border-radius: 50px;
}

.gridStyle {
  border: 1px solid rgb(212,212,212);
  min-height: 127px;
}

/*.ngCell  {
  display : table-cell;
  height: auto !important;
  overflow:visible;
  position: static;
}

.ngRow {
  display : table-row;
  height: auto !important;
  position: static;
}

.ngCellText{
  height: auto !important;
  white-space: normal;
  overflow:visible;
}*/

.form-seperator{
  border-bottom: 1px solid #ddd;
  margin:10px 0 !important;
}

.marginB {
  margin-bottom: 5px;
}

.dropdown-menu {
  margin:0px;
}
.popover {
  font-family: HP SimplifiedLight;
}

.popover-content ul{
  list-style: none;
  padding: 0px;
}

.btn-circle {
  color: #fff;
  background: #0096d6;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 4px;
  font-size: 7px;
}

.borderR {
  cursor: pointer;
  border-right: 1px solid #ddd;
}

.user-layout > li > a{
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.input-group {
  margin-bottom: 5px;
}
.ctr-header label{
  font-size: 20px;
  margin-top: 5px;
}

.ctr-grid {
  margin-top: 10px;
}

.ctr-height .dropdown-menu {
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ngGrid .ngGridMaxPagesNumber {
  top:0px;
}

.mtp i{color:#0096d6; padding:0 5px;}

/*.ctr-filter .dropdown-menu > li > a {
  padding: 0 10px;
}

.ctr-filter .form-group {
  margin: 0px;
}

.ctr-filter .dropdown-menu {
  min-width: 120px;
  height: auto;
  overflow: auto;
}

.form-inline .ctr-filter {
    margin-bottom: 0px;
  }

  .input-group > .ctr-input {min-width:222px;}

  .ctr-height{
  height: 42px;
}

.form-inline .ctr-detail .form-group {
  margin-bottom: 0px;  
  margin-left: 10px;
}

.ctr-grid .dropdown-menu {
  min-width: 165px;
}

.ctm-r .dropdown-menu {
  height: 300px;
  overflow: scroll;
}

.top-content .ctr-grid .form-group {
  margin-bottom: 15px;
}
.form-inline .ctr-filter .form-group {
 margin-bottom: 0px;
}  */

/*latest wan incident label*/


 .inner-content{margin-left: 14%;margin-top: 160px;}
 .first_content,.second_content {padding:10px;}

.half-screen {
width: 50%;
float: left;
}
.full-screen {
width: 100%;
float: left;
}


.gridStyle.imclconfig1{min-height: 40px;}
.scroller{
    white-space: pre-line;
    height: 500px;
    overflow-y: hidden;
    position: relative;
}
.panel-action{border: 2px solid #cecece;padding: 6px;border-width: 2px 0px;clear:both;}
.panel-table{
    border: 0px;
    background: #f5f5f5;
    padding: 10px 15px;    
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}
.panel .panel-heading {
  cursor:pointer;
  border-bottom: 0;
  font-size: 14px;
  padding:6px 10px;
}
.panel-default>.panel-heading,.panel-default .panel-subheading  {
  color: #444;
  background-color: #fff;
  border-color: #cfdbe2;
  font-weight: bold;
}
.panel-default,.panel-default .panel-subheading {border-top:2px solid #0096d6;}
.tab-pane-heading{  
  background: #0096d6;
  margin-bottom: 10px;
  padding: 5px 15px;
  color: #fff;
  border-bottom: 4px solid #cecece;
  font: 15px bold "HP Simplified";
}
.panel-subheading{padding: 6px 10px;}
.panel a{text-decoration: none;}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.marL5{margin-left: 5px;}
.marR5{margin-right: 5px;}
.marB5{margin-bottom: 5px;}
.marR6 {margin-right:6px;}
.marR10 {margin-right:10px;}
.pad0{padding:0;}
.padV10{padding:10px 0;}
.padH10{padding:0 10px;}
.padT0{padding-top:0;}
.padB10{padding-bottom:10px;}
.noB{border:0;}
.sub-header {
  background-color:#FFF;
  padding-bottom: 10px;
  /*border-bottom: 1px solid #eee;*/
}
.sub-header label{
  font-size: 20px;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
 .navbar-fixed-top {
  border: 0;
}

.navbar-submenu {
  padding-top: 15px;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
  margin-bottom: -2px;
}
.nav-tabs > li{
  border-bottom: 1px solid #ddd;
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
  color: #333;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border:none;
  border-bottom: 3px solid #0096d6;
  margin-bottom: -3px;
  padding-right: 20px;
  padding-left: 20px;
}

/*
 * Sidebar
 */

 /* Hide for mobile, show later */
 .asidebar {  
  min-width: 57px;
  position: fixed;
  top: 46px;
  left: 0;
  bottom: 0px;
  z-index: 1031;
  display: block;
  padding: 0 20px 0 10px;
  background-color: #f5f5f5;
  border-right: 1px solid #0096d6;    
}
.asidebar .menu-span {
  display: none;
  padding-right: 20px;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 10px;
  padding-right: 87px;    
}

.search{
  display: none;
  border:1px solid #0096d6;
  border-radius: 0;
}

.nav.navbar-nav.navbar-left,.nav.navbar-nav.navbar-left> li{float: left !important;margin:0;}
.navbar-nav{
  margin-right: 0px;
  margin-left: 0px;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li.searchfilter {
  padding:10px 10px 10px 20px;  
}
.nav-sidebar li>a {color:#333;text-decoration: none;}

div.menutoggle {padding:6px;text-align: center;float:left;margin-left: 55px;}
div.menutoggle i {padding:4px 7px; border:1px solid #ccc; color:#fff; cursor: pointer;}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {  
  background-color: #e5e5e5;  
  border-left: 5px solid #0096d6;
}

.nav-sidebar > .active > a > i,
.nav-sidebar > .active > a > i:hover,
.nav-sidebar > .active > a > i:focus { 
  color: #0096d6; 
  background-color: #e5e5e5;
  padding-left: 0px;  
}

.nav-sidebar > li > a > i {color:#6d6d6d;}


.sub-menu > .active > a,
.sub-menu > .active > a:hover,
.sub-menu > .active > a:focus {  
  background-color: #e5e5e5;  
  border-left: 5px solid #0096d6;
}

/*
 * Main content
 */

 .main {
  padding-top: 40px;
}

.main .page-header {
  margin-top: 0;
}

/*
 * sub content //  
 */

 .main-page-sub .divider, .sub-menu .divider {
  display: none;
}

.main-page-sub {
  margin-bottom: 10px;
}

.bars {
  margin: 20px 0;
}

/*.form-format, .input-group .form-control:first-child, 
.input-group-addon:first-child, 
.input-group-btn:first-child > .btn, 
.input-group-btn:first-child > .btn-group > .btn, 
.input-group-btn:first-child > .dropdown-toggle, 
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), 
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  height: inherit;
}*/


.form-seperator-top{
  border-bottom: 1px solid #ddd;
  margin-top:10px;
}
.form-seperator-bottom{
  border-bottom: 1px solid #ddd;
  margin-bottom:10px;
}



.top-content .row .form-control {
  height: inherit;
}

.top-content button {
  /*margin-right:10px ;*/
}

.top-content .nav-tabs {
  margin-bottom: 10px;
}

.sub-content {
  display: inline-block;
  width: 100%;

}

.button-right {
  text-align: right;
  margin-bottom: 10px;
}
/*
 * Placeholder dashboard ideas
 */

 .placeholders {
  /*margin-bottom: 30px;
  padding: 20px;*/
  padding-left: 20px;
  padding-right: 20px;
}
}

.placeholders ul > li > a{
  color : #333;
}

.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  /*border-radius: 50%;*/
}

.logo .icon-logohp-grey {font-size:30px;float:left;}
.icon-logohp-grey {
  color:#fff;
  padding:0 10px;
  border-right: white;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-bottom: none;
}

.navbar-brand {
  margin-left: 20px;
  float: left;
  padding: 5px;
  height: 30px;
  font-size: 22px;
  line-height: 24px;
  color: #fff;
  font-weight: bold;
  font-family: "Britannic";
}

.header-top {
  background-color:#0096d6;
}

.nav-sidebar .fa {
  margin-right: 10px;
}

.header-top {
  padding: 8px 5px;
  height: 46px;
  background-color:#0096d6;
}

.navbar-right {
  margin-right: auto;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
  margin: auto;
}

.toggle-fa {
  color: #fff;
}

.sub-menu li{
  list-style: none;    
}

.nav > li > a,
.nav > li > a:hover,
.nav > li > a:focus {
  margin-right:1px;
}

.nav-sidebar > li > a .arrow{
  position: absolute;
  right: 10px;
  top: 25%;
  font-size: 20px;  
  transition: transform 0.2s ease-in-out 0.1s;
  margin-top: -6px;    
}

.nav-sidebar > li.isOpen > a .arrow{
  transform: rotate(90deg);
}

.sub-menu > li > a {
  position: relative;
  display: block;
  padding: 6px 8px;
  text-decoration: none;
  margin-right:1px;
}

.sub-menu > li > a:hover,
.sub-menu > li > a:focus {
  background-color: #eee;
}
.sub-menu{
  display: none;
}

.divider {
  height: 1px;
  margin: 9px 14px 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.asidebar .nav > li > .nav-sub , .aside.sidebar-mini .nav-sidebar > li > a .arrow {display: none;}
.asidebar .nav > li > .nav-sub > .nav-sub-header {color:#0096d6;font-weight: bold;}
.aside.sidebar-mini .nav > li > .sub-menu,
.aside.sidebar-mini .nav > li > .flyout {display: none;}
.aside.sidebar-mini .nav > li > .nav-sub {
  background:#fff;
  border-top:1px solid #ccc;
  border-right:1px solid #ccc;
  border-bottom:2px solid #0096d6;
  border-left:2px solid #0096d6;
}

.aside.sidebar-mini .nav > li > .nav-sub {
  position: absolute;
  left: 66px;
  top:-10px;
  margin-top: 0;
  padding-bottom: 2px;
  display: none!important;
  border-radius: 0 0 4px;
  padding-left: 10px;
  width:205px;
}

.aside.sidebar-mini .nav > li > .nav-sub:after, .aside.sidebar-mini .nav > li > .nav-sub:before {
  right: 100%;
  top: 30px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.aside.sidebar-mini .nav > li > .nav-sub:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 9px;
  margin-top: -9px;
}

.aside.sidebar-mini .nav > li > .nav-sub:before {
  border-color: rgba(0, 150, 214, 0);
  border-right-color: #0096d6;
  border-width: 11px;
  margin-top: -11px;
}

.aside.sidebar-mini .nav > li > .nav-sub li{list-style:none; }
.aside.sidebar-mini .nav > li > .nav-sub li{
  text-decoration:none;
  padding: 6px 8px;
  text-decoration: none;
}
.aside.sidebar-mini .nav > li > .nav-sub li.divider{padding:0px;}

.aside.sidebar-mini .nav-sidebar>li {border-top:1px solid #e7e7e7;border-bottom:1px solid #fff;margin-right: 1px;} 
.aside.sidebar-mini .nav-sidebar>li:first>a {border-top: 1px solid #333;}
.aside.sidebar-mini .nav > li:hover > .nav-sub{
  display: block!important;
  z-index: 1000;
}
.asidebar i {
  font-size: 16px;
  padding: 5px;
}
.aside.sidebar-mini .nav > li:hover > .nav-sub li:hover{background:#e5e5e5;cursor: pointer;}
.aside.sidebar-mini .nav > li:hover > .nav-sub li:hover.nav-sub-header{background:#fff;}
.aside.sidebar-mini {width:50px;}
.aside.sidebar-mini i{font-size:16px; padding: 5px;}
.aside.sidebar-mini .nav>li>a>span,.aside.sidebar-mini .searchfilter{display: none;}
.nav .toggle-left {margin-left:65px;}
.navbar-right li>a>i {
  width: 1.5em;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.main {margin-left:14%;}
section.sidebar-mini {margin-left:50px;}
button.sidebar-toggle{
  width: 34px;
  height: 30px;
  font-size: 1.125em;
  padding: 4px;
  cursor: pointer;
  float: left;
  background-color: #0e9aef;
  border-radius: none;
  border: 1px solid #82cceb;
  color:#fff;
  margin-left: 35px;
}

button.sidebar-toggle:hover,
button.sidebar-toggle:active{
  box-shadow: none;
  outline: none!important;
  background-color: #14a6fe;
}

/*.btn-primary,
.btn-primary:hover,
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open > .dropdown-toggle.btn-primary {
  font-family: "HP Simplified", Arial;
  background: none repeat scroll 0 0 #0096d6;
  color: #FFF !important;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 16px;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  padding: 5px 14px;
  text-transform: capitalize;
}*/

/*
*
* ng grid styling
*
*/

.ngTopPanel {
  background-color: #0096d6;
  color: #fff;
}

.ngHeaderContainer {
  font-weight: normal;
}

/*.ngRow {
  position: absolute;
  border-bottom: 1px solid #d4d4d4;
}*/

.ngVerticalBarVisible{
  height: 100%;
}
.ngRow.odd {
  background-color: #f3f3f3;
}
.ngRow.even {
  background-color: #fdfdfd;
}
.ngRow.selected {
  background-color: #c9dde1;
}

.ngPagerLastTriangle, .ngPagerLastBar, .ngPagerFirstTriangle, .ngPagerPrevTriangle, .ngPagerFirstBar {
  border-color: transparent #fff;
}

/*.share .dropdown-menu {
  min-width: 35px;
}*/

/*.filter-dropdown {
  list-style: none;
  padding-left: 0px;
}

.filter-dropdown .open > .dropdown-menu {
  padding: 10px;
  min-width: 200px;
}

.filter-dropdown li {
  left: 5px;
  padding: 5px;
}

.filter-dropdown .dropdown:hover {
  background-color: #fff;
}

.filter-dropdown .list-filter:hover{
  background-color: #e5e5e5;
}

.filter-dropdown li > span {
  left: 0px;
}

.filter-dropdown li > span > label{
  left: 15px;
  position: relative;
  cursor: pointer;
  margin-bottom: 0px;
}

.filter-dropdown li > input {
  float: left;
  margin-right: 10px;
}*/

/*.table-filter .nav-pills .filter-right > a {
  min-height: 30px;
}
*/
/*.filter-right {
  color:#6d6d6d;
}*/

/*.table-filter {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}*/


.ngGrid input[type="checkbox"]{
  display: block;
}

.ngRowCountPicker select {
  padding:3px 12px;
}

.ngSortButtonUp {
  position: absolute;
  top: 12px;
  right: 0;
  margin-left: auto;
  margin-right: 10px;
  border-color: #fff transparent;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  height: 0;
  width: 0;
}

.ngSortButtonDown {
  position: absolute;
  top: 12px;
  right: 0;
  margin-left: auto;
  margin-right: 10px;
  border-color: #fff transparent;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  height: 0;
  width: 0;
}

/*.table-filter .nav > li > a, .table-filter .nav > li > a:hover, .table-filter .nav > li > a:focus {
  margin: 5px;
  margin-left: 0px;
  text-decoration: none;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}

.table-filter .nav-pills > li > a {
  border-radius: 0px;
  border-right: 1px solid #ddd;
  margin-left: 0px;
}*/

/*.glyphicon {
  padding-right:10px; 
  color: #0096d6;
}
*/

.nav .dropdown-menu > li > a {
  padding-left: 0px;
}

.top-content .full {
  width: 100%;
}
.nav-sidebar > li > a .arrow {
  display: none;
}

.asidebar .nav-sidebar>li {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #fff;
  margin-right: 1px;
}

.nav-sidebar > li.searchfilter {
  display: none;
}

.user-layout-mini {
  display: none;
}

.user-layout {
  display: none;
}

/*navigation menu and submenu*/
@media (min-width: 768px) {
  .user-layout-mini {
    display: none;
  }
  .user-layout {
    display: inline-block;
  }
  .asidebar .nav-sidebar > li {
  border-top: 0px;
  border-bottom: 0px;
  margin-right: 0px;
  }
  .nav-sidebar > li.searchfilter, .nav-sidebar > li > a .arrow, .sub-menu{
    display: block;
  }
  .asidebar .menu-span, .search {
    display: inline;
  }
  .asidebar {
    top: 46px;
  }
  .navbar-submenu {
    padding-top: 15px;
    padding-bottom: 15px;
  }  
  .sub-menu {
    padding-left: 20px;
  }
}

/*for very large screen*/
@media (min-width: 1740px) {
    .col-lgf-1,.col-lgf-10,.col-lgf-11,.col-lgf-12,.col-lgf-2,.col-lgf-3,.col-lgf-4,.col-lgf-5,.col-lgf-6,.col-lgf-7,.col-lgf-8,.col-lgf-9 {
        float:left
    }

    .col-lgf-12 {
        width: 100%
    }

    .col-lgf-11 {
        width: 91.66666667%
    }

    .col-lgf-10 {
        width: 83.33333333%
    }

    .col-lgf-9 {
        width: 75%
    }

    .col-lgf-8 {
        width: 66.66666667%
    }

    .col-lgf-7 {
        width: 58.33333333%
    }

    .col-lgf-6 {
        width: 50%
    }

    .col-lgf-5 {
        width: 41.66666667%
    }

    .col-lgf-4 {
        width: 33.33333333%
    }

    .col-lgf-3 {
        width: 25%
    }

    .col-lgf-2 {
        width: 16.66666667%
    }

    .col-lgf-1 {
        width: 8.33333333%
    }

    .col-lgf-pull-12 {
        right: 100%
    }

    .col-lgf-pull-11 {
        right: 91.66666667%
    }

    .col-lgf-pull-10 {
        right: 83.33333333%
    }

    .col-lgf-pull-9 {
        right: 75%
    }

    .col-lgf-pull-8 {
        right: 66.66666667%
    }

    .col-lgf-pull-7 {
        right: 58.33333333%
    }

    .col-lgf-pull-6 {
        right: 50%
    }

    .col-lgf-pull-5 {
        right: 41.66666667%
    }

    .col-lgf-pull-4 {
        right: 33.33333333%
    }

    .col-lgf-pull-3 {
        right: 25%
    }

    .col-lgf-pull-2 {
        right: 16.66666667%
    }

    .col-lgf-pull-1 {
        right: 8.33333333%
    }

    .col-lgf-pull-0 {
        right: auto
    }

    .col-lgf-push-12 {
        left: 100%
    }

    .col-lgf-push-11 {
        left: 91.66666667%
    }

    .col-lgf-push-10 {
        left: 83.33333333%
    }

    .col-lgf-push-9 {
        left: 75%
    }

    .col-lgf-push-8 {
        left: 66.66666667%
    }

    .col-lgf-push-7 {
        left: 58.33333333%
    }

    .col-lgf-push-6 {
        left: 50%
    }

    .col-lgf-push-5 {
        left: 41.66666667%
    }

    .col-lgf-push-4 {
        left: 33.33333333%
    }

    .col-lgf-push-3 {
        left: 25%
    }

    .col-lgf-push-2 {
        left: 16.66666667%
    }

    .col-lgf-push-1 {
        left: 8.33333333%
    }

    .col-lgf-push-0 {
        left: auto
    }

    .col-lgf-offset-12 {
        margin-left: 100%
    }

    .col-lgf-offset-11 {
        margin-left: 91.66666667%
    }

    .col-lgf-offset-10 {
        margin-left: 83.33333333%
    }

    .col-lgf-offset-9 {
        margin-left: 75%
    }

    .col-lgf-offset-8 {
        margin-left: 66.66666667%
    }

    .col-lgf-offset-7 {
        margin-left: 58.33333333%
    }

    .col-lgf-offset-6 {
        margin-left: 50%
    }

    .col-lgf-offset-5 {
        margin-left: 41.66666667%
    }

    .col-lgf-offset-4 {
        margin-left: 33.33333333%
    }

    .col-lgf-offset-3 {
        margin-left: 25%
    }

    .col-lgf-offset-2 {
        margin-left: 16.66666667%
    }

    .col-lgf-offset-1 {
        margin-left: 8.33333333%
    }

    .col-lgf-offset-0 {
        margin-left: 0
    }
}
