@font-face {
	font-family: 'HP Simplified';		
	src: url('fonts/HPSimplifiedW01-Regular.eot'); 
	src: url('fonts/HPSimplifiedW01-Regular.eot?#iefix') format('embedded-opentype'), 
		 url('fonts/HPSimplifiedW01-Regular.woff') 	format('woff'), 	
		 url('fonts/HPSimplifiedW01-Regular.ttf') 	format('truetype');	
	font-weight: normal;font-style:normal;
}
@font-face {
	font-family: 'HP SimplifiedBold';		
	src: url('fonts/HPSimplifiedW01-Bold.eot');		
	src: url('fonts/HPSimplifiedW01-Bold.eot?#iefix') format("embedded-opentype"), 
		 url('fonts/HPSimplifiedW01-Bold.ttf') 		format("truetype"),	
		 url('fonts/HPSimplifiedW01-Bold.woff') 		format("woff") ;	
	font-weight: bold;font-style: normal;   
}
@font-face {
	font-family: 'HP SimplifiedLight';  	
	src: url('fonts/HPSimplifiedW01-Light.eot');		
	src: url('fonts/HPSimplifiedW01-Light.eot?#iefix') format("embedded-opentype"), 
		 url('fonts/HPSimplifiedW01-Light.woff') 		format("woff"), 	
		 url('fonts/HPSimplifiedW01-Light.ttf') 		format("truetype");	'
	font-weight: normal;font-style: normal; 
}
/* Main CSS File */
body {
  font-family: 'HP Simplified';
}

h1 {
  color: #0096d6
}
