
<div class="">
	<div class="">
		<div class="row">
			<div class="col-sm-1"><button class="btn-hp btn-primary">To</button></div>
			<div class="col-sm-11"><input type="text" class="form-control"></div>
		</div>
		<div class="row">
			<div class="col-sm-1"><button class="btn-hp btn-primary">Cc</button></div>
			<div class="col-sm-11"><input type="text" class="form-control"></div>
		</div>
		<div class="row">
			<div class="col-sm-1"><button class="btn-hp btn-primary">Bcc</button></div>
			<div class="col-sm-11"><input type="text" class="form-control"></div>
		</div>
		<div class="row">
			<div class="col-sm-12"><label><input type="checkbox" value="0"><span>Send me a copy</span></label></div>
		</div>
		<div class="row">
			<div class="col-sm-1">Subject</div>
			<div class="col-sm-11"><input type="text" class="form-control"></div>
		</div>
		<div class="row">
			<div class="col-sm-12"><textarea class="form-control"></textarea></div>
		</div>
		<div class="row">
			<div class="col-sm-12"><label><input type="checkbox" value="0"><span>Include Attachments</span></label></div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-hp" ng-click="closeItem('email')">Close</button>
	</div>
</div>
