<div class="row ctr-header">
  <div class="col-xs-12">
    <label>Completed Question</label>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>When did the account turn green?:</label>
  </div>
  <div class="col-sm-6">
    <input type="text" class="form-control" disabled placeholder="Date">
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>Number of completed overall Action-Items:</label>
  </div>
  <div class="col-sm-6">
    <input type="text" class="form-control" placeholder="Number">
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>Number of completed Network Action-Items:</label>
  </div>
  <div class="col-sm-6">
    <input type="text" class="form-control" placeholder="Number">
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>What were the lessons learned / preventive actions?:</label>
  </div>
  <div class="col-sm-6">
    <textarea type="text" class="form-control" placeholder="People Finder"></textarea>
  </div>
</div>