<div class="tab-pane-heading">Final Notification :</div>
<form name="finalnotificationForm">
<div class="col-md-12 pad0">
	<label for="inputType" class="col-md-2">Current State of Affected Environment :</label>
	<div class="col-md-10">        
	    <textarea class="form-control" ng-model="selected.finalnotify.currentstate" rows="5"></textarea>
	</div>
</div>
<div class="col-md-12 pad0">	
	<label for="inputType" class="col-md-2">Result of Previous Action :</label>
	<div class="col-md-10">        
	    <textarea class="form-control" ng-model="selected.finalnotify.resultofprevaction" rows="5"></textarea>
	</div>
</div>
<div class="col-md-12 pad0">	
	<label for="inputType" class="col-md-2">Action Performed Resulting in Service Restoration :</label>
	<div class="col-md-10">        
	    <textarea class="form-control" ng-model="selected.finalnotify.actionperformed" rows="5"></textarea>
	</div>
</div>
<div class="col-md-12 pad0">
	<label for="inputType" class="col-md-2">Time Incident Stopped:</label>
	<div class="col-md-4">
		<div class="col-md-12">   
	        <my-date-time-picker input-time="selected.finalnotify.timeincidentstop" class="input-group datetimepicker-date"></my-date-time-picker>
	    </div>
	</div>
</div>
<div class="col-md-12 pad0">	
	<label for="inputType" class="col-md-2">RCA and Quality Issues will be Included in Incident Summary :</label>
	<div class="col-md-10">        
	    <textarea class="form-control" ng-model="selected.finalnotify.rca" rows="5"></textarea>
	</div>
</div>
<div class="col-md-12 pad0">
	<div class="panel-action text-center">
	    <button class="btn btn-primary btn-hp btn-sm" ng-disabled="finalnotificationForm.$invalid" ng-click="SaveFinalNotification()">Save Notification</button>
	    <button class="btn btn-primary btn-hp btn-sm" ng-disabled="finalnotificationForm.$invalid" ng-click="EmailFinalNotification()">Email Notification</button>
	</div>
</div>
</form>