<div class="tab-pane-heading">Initial Notification :</div>
<form name="initialnotificationForm">
<div class="col-md-12 pad0">	
	<label class="col-md-12">
		<input checked ng-model="selected.initnotify.finalnoti" type="checkbox"><span>Is this Initial and Final Notification</span>
	</label>
</div>
<div class="col-md-12 pad0">
	<label for="inputType" class="col-md-4 col-lg-2">Description of the Problem :</label>
	<div class="col-md-8 col-lg-10">        
	    <textarea class="form-control" ng-model="selected.initnotify.probdesc" rows="5"></textarea>
	</div>
</div>
<div class="col-md-12 pad0">
	<label for="inputType" class="col-md-4 col-lg-2">Time Incident Started :</label>
	<div class="col-md-4">
		<div class="col-md-12">   
	        <my-date-time-picker input-time="selected.initnotify.datetimestarted" class="input-group datetimepicker-date"></my-date-time-picker>
	    </div>
	</div>
</div>
<div class="col-md-12 pad0">	
	<label for="inputType" class="col-md-4 col-lg-2">Client(s) Affected :</label>
	<div class="col-md-8 col-lg-10">        
	    <textarea class="form-control" ng-model="selected.initnotify.clientaffected" rows="5"></textarea>
	</div>
</div>
<div class="col-md-12 pad0">	
	<label for="inputType" class="col-md-4 col-lg-2">Site(s) Affected :</label>
	<div class="col-md-8 col-lg-10">        
	    <textarea class="form-control" ng-model="selected.initnotify.siteaffected" rows="5"></textarea>
	</div>
</div>
<div class="col-md-12 pad0">	
	<label for="inputType" class="col-md-4 col-lg-2">Business Affected :</label>
	<div class="col-md-8 col-lg-10">        
	    <textarea class="form-control" ng-model="selected.initnotify.businessaffected" rows="5"></textarea>
	</div>
</div>
<div class="col-md-12 pad0">	
	<label for="inputType" class="col-md-4 col-lg-2">Ticket Information :</label>
	<div class="col-md-8 col-lg-10">        
	    <textarea class="form-control" ng-model="selected.initnotify.ticketinfo" rows="5"></textarea>
	</div>
</div>
<div class="col-md-12 pad0">	
	<label for="inputType" class="col-md-4 col-lg-2">Teams Engaged :</label>
	<div class="col-md-8 col-lg-10">        
	    <textarea class="form-control" ng-model="selected.initnotify.teamsengaged" rows="5"></textarea>
	</div>
</div>
<div class="col-md-12 pad0">	
	<label for="inputType" class="col-md-4 col-lg-2">Current Action Plan :</label>
	<div class="col-md-8 col-lg-10">        
	    <textarea class="form-control" ng-model="selected.initnotify.currentactionplan" rows="5"></textarea>
	</div>
</div>
<div class="col-md-12 pad0">
	<label for="inputType" class="col-md-4 col-lg-2">Estimate of TTR :</label>
	<div class="col-md-4">        
	  <input type="text" ng-model="selected.initnotify.ettr" class="form-control" required>
	</div>
</div>
<div class="col-md-12 pad0">
	<label for="inputType" class="col-md-4 col-lg-2">Next Communication Time :</label>
	<div class="col-md-4">
		<div class="col-md-12">   
	        <my-date-time-picker input-time="selected.initnotify.nextcommtime" class="input-group datetimepicker-date"></my-date-time-picker>
	    </div>
	</div>
</div>
<div class="col-md-12 pad0">
	<div class="panel-action text-center">
	    <button class="btn btn-primary btn-hp btn-sm" ng-disabled="initialnotificationForm.$invalid" ng-click="SaveInitialNotification()">Save Notification</button>
	    <button class="btn btn-primary btn-hp btn-sm" ng-disabled="initialnotificationForm.$invalid" ng-click="EmailInitialNotification()">Email Notification</button>
	</div>
</div>
</form>