<div class="tab-pane-heading">Update Notification :</div>
<form name="updatenotificationForm">
<div class="col-md-12 pad0">
	<label for="inputType" class="col-md-4 col-lg-2">Current State of Affected Environment :</label>
	<div class="col-md-8 col-lg-10">        
	    <textarea class="form-control" ng-model="selected.updatenotify.currentstate" rows="5"></textarea>
	</div>
</div>
<div class="col-md-12 pad0">	
	<label for="inputType" class="col-md-4 col-lg-2">Result of Previous Action :</label>
	<div class="col-md-8 col-lg-10">        
	    <textarea class="form-control" ng-model="selected.updatenotify.resultofprevaction" rows="5"></textarea>
	</div>
</div>
<div class="col-md-12 pad0">	
	<label for="inputType" class="col-md-4 col-lg-2">Next Action Planned :</label>
	<div class="col-md-8 col-lg-10">        
	    <textarea class="form-control" ng-model="selected.updatenotify.nextactionplanned" rows="5"></textarea>
	</div>
</div>
<div class="col-md-12 pad0">
	<label for="inputType" class="col-md-4 col-lg-2">Estimate of TTR :</label>
	<div class="col-md-4">        
	  <input type="text" ng-model="selected.updatenotify.ettr" class="form-control" required>
	</div>
</div>
<div class="col-md-12 pad0">
	<label for="inputType" class="col-md-4 col-lg-2">Next Communication Time :</label>
	<div class="col-md-4">
		<div class="col-md-12">   
	        <my-date-time-picker input-time="selected.updatenotify.nextcommtime" class="input-group datetimepicker-date"></my-date-time-picker>
	    </div>
	</div>
</div>
<div class="col-md-12 pad0">
	<div class="panel-action text-center">
	    <button class="btn btn-primary btn-hp btn-sm" ng-disabled="updatenotificationForm.$invalid" ng-click="SaveUpdateNotification()">Save Notification</button>
	    <button class="btn btn-primary btn-hp btn-sm" ng-disabled="updatenotificationForm.$invalid" ng-click="EmailUpdateNotification()">Email Notification</button>
	</div>
</div>
</form>