<div class="row ctr-header">
  <div class="col-xs-12">
    <label>Monitoring Question</label>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>Is the account monitoring?:</label>
  </div>
  <div class="col-sm-6">
    <input type="text" class="form-control" disabled placeholder="Date">
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>A short description of why the account is monitoring and a report of any new progress or status updates:</label>
  </div>
  <div class="col-sm-6">
    <textarea type="text" class="form-control" placeholder="People Finder"></textarea>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>How long will the account be monitoring for until it turns green?:</label>
  </div>
  <div class="col-sm-6">
    <div class="selector ctr-height">
      <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
      bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
      data-icon-checkmark="icon-checkmark" all-none-buttons="1">
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>What date is the account expected to turn back to green?:</label>
  </div>
  <div class="col-sm-6">
    <input type="text" class="form-control" disabled placeholder="Date">
  </div>
</div>