<div class="row ctr-header">
  <div class="col-xs-12">
    <label>New Question</label>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>What is the account name?:</label>
  </div>
  <div class="col-sm-6">
    <input type="text" class="form-control" disabled placeholder="Automate">
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>Is the client a regional (one region) or global (multi-region) account?:</label>
  </div>
  <div class="col-sm-6">
    <div class="selector ctr-height">
      <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
      bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
      data-icon-checkmark="icon-checkmark" all-none-buttons="1">
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>Original alert date:</label>
  </div>
  <div class="col-sm-6">
    <input type="text" class="form-control" disabled placeholder="Date">
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>Is this a Global Network Delivery related event?:</label>
  </div>
  <div class="col-sm-6">
    <input type="text" class="form-control" placeholder="From">
  </div>
  <div class="col-sm-12">
    <div class="col-sm-6">
      <label>Comment:</label>
    </div>
    <div class="col-sm-6">
      <textarea type="text" class="form-control" placeholder="textarea"></textarea>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>Which Network segment is impacted per the Service Excellence Dashboard?:</label>
  </div>
  <div class="col-sm-6">
    <div class="selector ctr-height">
      <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
      bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
      data-icon-checkmark="icon-checkmark" all-none-buttons="1">
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>Which area of Network is this related to?:</label>
  </div>
  <div class="col-sm-6">
    <div class="selector ctr-height">
      <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
      bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
      data-icon-checkmark="icon-checkmark" all-none-buttons="1">
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>Is this account supported by a dedicated NDM / CCL?:</label>
  </div>
  <div class="col-sm-6">
    <div class="selector ctr-height">
      <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
      bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
      data-icon-checkmark="icon-checkmark" all-none-buttons="1">
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>Who is the NDM / CCL owner that wil speak to the weekly updates?:</label>
  </div>
  <div class="col-sm-6">
    <input type="text" class="form-control" disabled placeholder="From">
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>What is the account's support model?:</label>
  </div>
  <div class="col-sm-6">
    <div class="selector ctr-height">
      <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
      bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
      data-icon-checkmark="icon-checkmark" all-none-buttons="1">
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <label>Who will own the Network Delivery Management functions?:</label>
  </div>
  <div class="col-sm-12">
    <div class="col-sm-6">
      <label>NDL / CCL:</label>
    </div>
    <div class="col-sm-6">
      <input type="text" class="form-control" placeholder="People Finder">
    </div>
    <div class="col-sm-6">
      <label>AE / ADE:</label>
    </div>
    <div class="col-sm-6">
      <input type="text" class="form-control" placeholder="People Finder">
    </div>
  </div>
</div>