<div class="row ctr-header">
  <div class="col-xs-12">
    <label>Ongoing Question</label>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>Will a formal improvement plan be created?:</label>
  </div>
  <div class="col-sm-6">
    <div class="selector ctr-height">
      <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
      bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
      data-icon-checkmark="icon-checkmark" all-none-buttons="1">
      </button>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="col-sm-6">
      <label>(If no, please explain why and move to question #6 and then #8)</label>
    </div>
    <div class="col-sm-6">
      <textarea type="text" class="form-control" disabled placeholder="if no, why?"></textarea>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>What date was the improvement plan created?:</label>
  </div>
  <div class="col-sm-6">
    <input type="text" class="form-control" disabled placeholder="Date">
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>Is the improvement plan for the overall account or specifically for Network?:</label>
  </div>
  <div class="col-sm-6">
    <div class="selector ctr-height">
      <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
      bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
      data-icon-checkmark="icon-checkmark" all-none-buttons="1">
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>What type of plan is it?:<small>(G2G, SIP, OIP, IHC)</small></label>
  </div>
  <div class="col-sm-6">
    <div class="selector ctr-height">
      <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
      bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
      data-icon-checkmark="icon-checkmark" all-none-buttons="1">
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>Total number of Action-Items in the improvement plan:</label>
  </div>
  <div class="col-sm-6">
    <input type="text" class="form-control" disabled placeholder="Number">
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>Total number of Action-Items complete:</label>
  </div>
  <div class="col-sm-6">
    <input type="text" class="form-control" disabled placeholder="Number">
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>Total Number of network-related Action-Items:</label>
  </div>
  <div class="col-sm-6">
    <input type="text" class="form-control" disabled placeholder="Number">
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label> Total number of network-related Action-Items complete:</label>
  </div>
  <div class="col-sm-6">
    <input type="text" class="form-control" disabled placeholder="Number">
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>When is the proposed completion date of the improvement plan?:</label>
    <small>(if the completetion date has changed, please change this field)</small>
  </div>
  <div class="col-sm-6">
    <input type="text" class="form-control" disabled placeholder="Date">
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>What date will the account be turned back to green on the Service Excellence Dashboard?:</label>
    <small>(if the completetion date has changed, please change this field)</small>
  </div>
  <div class="col-sm-6">
    <input type="text" class="form-control" disabled placeholder="Date">
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>What is the ITIL Classification of the Service Excellence issue?:</label>
  </div>
  <div class="col-sm-6">
    <div class="selector ctr-height">
      <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
      bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
      data-icon-checkmark="icon-checkmark" all-none-buttons="1">
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>What is the RCA of the account being non-green?:</label>
  </div>
  <div class="col-sm-12">
    <div class="col-sm-6">
      <label>Primary:</label>
    </div>
    <div class="col-sm-6">
      <div class="selector ctr-height">
        <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
        bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
        data-icon-checkmark="icon-checkmark" all-none-buttons="1">
        </button>
      </div>
    </div>
    <div class="col-sm-6">
      <label>Secondary:</label>
    </div>
    <div class="col-sm-6">
      <div class="selector ctr-height">
        <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
        bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
        data-icon-checkmark="icon-checkmark" all-none-buttons="1">
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>What actions have been taken to resolve or remediate this problem?
What are the roadblocks preventing resolution to changing the account to green?:</label>
  </div>
  <div class="col-sm-6">
    <textarea type="text" class="form-control" placeholder="People Finder"></textarea>
  </div>
</div>