<ul class="nav navbar-nav pull-right user-layout">
	<li class="borderR">
		<a bs-dropdown="userActivity" data-html="true"><i class="marR5 icon-user2"></i>User</a>
	</li>
	<li class="borderR">
		<button ng-disable="ivalue" type="button" class="btn btn-default" ng-model="selectedLayout" data-html="1" bs-options="icon.value as icon.label for icon in icons" bs-select>
			Action <span class="caret"></span>
		</button>
	</li>
	<li><a ><i class="icon-question-circle"></i></a></li>
</ul>