<div class="row ctr-header" ng-init="getCurrentSubmenu()">
  <div class="col-xs-12">
    <label>{{currentSubmenuName}}</label>
  </div>
</div>

<!-- <div ng-show="showOriginal" ng-class="showHorizontalCss ? 'col-sm-6':''"> -->

<div incident-filter-bar></div>

<div class="" ng-show="tablefilter">
	<div class="row">
	    <div class="col-sm-3 col-md-2 col-lg-1"><label>RFC #:</label></div>
	    <div class="col-sm-9 col-md-10 col-lg-11">
	        <input type="text" class="form-control" ng-model="fromDate" placeholder="From">
	    </div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="row">
		        <div class="col-xs-12"><label>Scheduled Implementation Start Date</label></div>
		        <div class="col-sm-4 col-lg-2"><label>From</label></div>
		        <div class="col-sm-8 col-lg-4">
		        	<div class="input-group" >
		            	<input type="text" class="form-control" ng-model="fromDate" data-max-date="{{untilDate}}" placeholder="From" bs-datepicker 
		            	data-bs-show="dpd1.show">
		            	<span class='input-group-addon' tabindex="0"  ng-blur="dpd1.show=false" ng-focus="dpd1.show=true"><i class='icon-calendar'></i></span>
		            </div>
		        </div>
		        <div class="col-sm-4 col-lg-2"><label>To</label></div>
		        <div class="col-sm-8 col-lg-4">
		        	<div class="input-group">
		            	<input type="text" class="form-control" ng-model="untilDate" data-min-date="{{fromDate}}" placeholder="Until" bs-datepicker 
		            	data-bs-show="dpd2.show">
		            	<span class='input-group-addon' tabindex="0"  ng-blur="dpd2.show=false" ng-focus="dpd2.show=true"><i class='icon-calendar'></i></span>
		            </div>
		        </div>
	    	</div>
		</div>
		<div class="col-md-6">
			<div class="row">
		        <div class="col-xs-12"><label>Scheduled Implementation End Date</label></div>
		        <div class="col-sm-4 col-lg-2"><label>From</label></div>
		        <div class="col-sm-8 col-lg-4">
		        	<div class="input-group" >
		            	<input type="text" class="form-control" ng-model="fromDate" data-max-date="{{untilDate}}" placeholder="From" bs-datepicker 
		            	data-bs-show="dpd1.show">
		            	<span class='input-group-addon' tabindex="0"  ng-blur="dpd1.show=false" ng-focus="dpd1.show=true"><i class='icon-calendar'></i></span>
		            </div>
		        </div>
		        <div class="col-sm-4 col-lg-2"><label>To</label></div>
		        <div class="col-sm-8 col-lg-4">
		        	<div class="input-group" >
		            	<input type="text" class="form-control" ng-model="fromDate" data-max-date="{{untilDate}}" placeholder="From" bs-datepicker 
		            	data-bs-show="dpd1.show">
		            	<span class='input-group-addon' tabindex="0"  ng-blur="dpd1.show=false" ng-focus="dpd1.show=true"><i class='icon-calendar'></i></span>
		            </div>
		        </div>
	    	</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="row">
		        <div class="col-xs-12"><label>Actual Implementation Start Date</label></div>
		        <div class="col-sm-4 col-lg-2"><label>From</label></div>
		        <div class="col-sm-8 col-lg-4">
		        	<div class="input-group" >
		            	<input type="text" class="form-control" ng-model="fromDate" data-max-date="{{untilDate}}" placeholder="From" bs-datepicker 
		            	data-bs-show="dpd1.show">
		            	<span class='input-group-addon' tabindex="0"  ng-blur="dpd1.show=false" ng-focus="dpd1.show=true"><i class='icon-calendar'></i></span>
		            </div>
		        </div>
		        <div class="col-sm-4 col-lg-2"><label>To</label></div>
		        <div class="col-sm-8 col-lg-4">
		        	<div class="input-group" >
		            	<input type="text" class="form-control" ng-model="fromDate" data-max-date="{{untilDate}}" placeholder="From" bs-datepicker 
		            	data-bs-show="dpd1.show">
		            	<span class='input-group-addon' tabindex="0"  ng-blur="dpd1.show=false" ng-focus="dpd1.show=true"><i class='icon-calendar'></i></span>
		            </div>
		        </div>
	    	</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-xs-12"><label>Actual Implementation End Date</label></div>
		        <div class="col-sm-4 col-lg-2"><label>From</label></div>
		        <div class="col-sm-8 col-lg-4">
		        	<div class="input-group" >
		            	<input type="text" class="form-control" ng-model="fromDate" data-max-date="{{untilDate}}" placeholder="From" bs-datepicker 
		            	data-bs-show="dpd1.show">
		            	<span class='input-group-addon' tabindex="0"  ng-blur="dpd1.show=false" ng-focus="dpd1.show=true"><i class='icon-calendar'></i></span>
		            </div>
		        </div>
		        <div class="col-sm-4 col-lg-2"><label>To</label></div>
		        <div class="col-sm-8 col-lg-4">
		        	<div class="input-group" >
		            	<input type="text" class="form-control" ng-model="fromDate" data-max-date="{{untilDate}}" placeholder="From" bs-datepicker 
		            	data-bs-show="dpd1.show">
		            	<span class='input-group-addon' tabindex="0"  ng-blur="dpd1.show=false" ng-focus="dpd1.show=true"><i class='icon-calendar'></i></span>
		            </div>
		        </div>
	    	</div>
		</div>
	</div>
	<div class="row">
	    <div class="col-sm-3 col-md-2 col-lg-1"><label>Client:</label></div>
	    <div class="col-sm-7 col-md-8">
	    	<div class="selector ctr-height">
	            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
	            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
	            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
	        	</button>
	      </div>
	    </div>
	    <div class="col-sm-2 col-lg-3"></div>
	</div>
	<div class="row">
	    <div class="col-sm-3 col-md-2 col-lg-1"><label>Device/CI:</label></div>
	    <div class="col-sm-7 col-md-8"><input type="text" class="form-control" ng-model="fromDate" placeholder="From"></div>
	    <div class="col-sm-2 col-lg-3">
	    	<button class="btn-hp btn-primary">Go</button>
	    </div>
	</div>
	<div class="row form-seperator"></div>
</div>

<div class="" ng-show="tableEmail">
	<div ng-include src="'views/modal/email.html'"></div>
	<div class="row form-seperator"></div>
</div>

<div class="row" ng-show="showcontent">

<div class="col-xs-5 col-sm-4 col-lg-3">
  <button type="button" class="btn-hp btn-primary marginB" ng-model="selectedrtopColumns" data-template="template/select/incident-rtop_view_by.html" 
  data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="RtOP.value as RtOP.label for RtOP in rtopColumns" 
  bs-select placeholder="View By" data-icon-checkmark="icon-checkmark" max-length-html="View By">
  </button>
</div>
<div class="col-xs-7 col-sm-offset-2 col-sm-6 col-md-offset-3 col-md-5 col-lg-offset-5 col-lg-4">
  <div class="input-group">
    <span class="input-group-addon"><i class='icon-search'></i></span>
    <input class="form-control" placeholder="Search for..." type="text" ng-model="filterOptions.filterText" />
  </div>
</div>

</div>

<div class="row ctr-grid" ng-show="showcontent">
  <div class="sub-content col-xs-12">
    <div class="gridStyle" ng-grid="gridOptions"></div>
  </div>
</div>

<!-- </div> -->

<div ng-show="showHorizontal" data-ui-view="contentHorizontal" ng-class="showHorizontalCss ? 'col-sm-6':''">
</div>
<div ng-show="showVertical" data-ui-view="contentVertical">
</div>
<div ng-show="showDefault" data-ui-view="contentDefault">
</div>