<div class="row">
    <div class="col-xs-12">
    	<div ng-include src="'views/nav/incident.html'" ng-init="getMainMenu(localize.incident_state)"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
    	<div data-ui-view="submenuContent"></div>
    </div>
</div>

