<div>
  <div class="form-seperator-top"></div>
    <div class="row form-inline"> 
      <div class="col-sm-12">
        <div class="form-group">
          <button class="btn btn-filter" ng-click="edit=true;view=false" ng-hide="edit" ng-show="view"><i ng-class="" class="icon-pencil"></i></button>
          <button type="button" class="btn btn-filter" ng-click="edit=false;view=true" ng-hide="view" ng-show="edit"><i ng-class="" class="btn-filter-left icon-cancel-circle"></i>Cancel</button>
          <button type="button" class="btn btn-filter" ng-click="openSide(true,null,null,null)" ng-show="view" ng-hide="edit"><i ng-class="" class="btn-filter-left icon-cancel-circle"></i>Exit</button>
          <button type="button" class="btn btn-filter" ng-click="openSide(true,null,null,null)" ng-hide="view" ng-show="edit"><i ng-class="" class="btn-filter-left icon-exit"></i>Save & Exit</button>
          <button type="button" class="btn btn-filter" ng-click="edit=false;view=true" ng-hide="view" ng-show="edit">
          <i ng-class="" class="icon-save"></i>Save</button>        
          <button class="btn btn-filter" ng-click="moreaction = !moreaction" bs-dropdown="exports" data-html="true">
              More Action<i ng-class="moreaction ? 'icon-chevron-down' : 'icon-chevron-up'" class="icon-blue"></i>
          </button>                            


        </div>                
        
      </div>
    </div>
  <div class="form-seperator-bottom"></div>
</div>

<div class="col-sm-12">
  <!-- <div class="row form-seperator"></div> -->
    <div class="col-sm-12 ctr-height">
      <i ng-show="edit" class="btn-circle icon-pencil2"></i>
      <label>Rtop</label>
      <!-- <button type="button" class="pull-right btn btn-hp" data-ui-sref="rtop" ng-click="openSide('close')">Close</a></button> -->
    </div>
  <div class="row form-seperator"></div>
</div>

  <div class="col-sm-12">
    <div class="form-group col-sm-6">
      <label for="date">Rtop #:</label>
      <!-- <div class="input-group"> -->
         <input ng-if="edit" ng-if="edit" disabled type="text" class="form-control" ng-model="itemOne.RTOP_ID">
         <span ng-if="view">{{itemOne.RTOP_ID}}</span>
         <!-- <div class="input-group-addon"><i class='icon-calendar'></i></div> -->
      <!-- </div> -->
    </div>
    <div class="form-group col-sm-6">
      <label for="date">Rtop From Date:</label>
      <span ng-if="view">{{itemOne.RTOP_ETR_DT}}</span>
      <div class="input-group">
         <input ng-if="edit" type="text" class="form-control" ng-model="itemOne.RTOP_ETR_DT">
         <div ng-if="edit" class="input-group-addon"><i class='icon-calendar'></i></div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="form-group col-sm-6">
      <label for="date">Rtop To Date:</label>
      <span ng-if="view">{{itemOne.RTOP_END_DT}}</span>
      <div class="input-group">
         <input ng-if="edit" type="text" class="form-control" ng-model="itemOne.RTOP_END_DT">
         <div ng-if="edit" class="input-group-addon"><i class='icon-calendar'></i></div>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="date">RTOP_SEVERITY_ID:</label>
      <!-- <div class="input-group"> -->
         <input ng-if="edit" type="text" class="form-control" ng-model="itemOne.RTOP_SEVERITY_ID">
         <span ng-if="view">{{itemOne.RTOP_SEVERITY_ID}}</span>
         <!-- <div class="input-group-addon"><i class='icon-calendar'></i></div> -->
      <!-- </div> -->
    </div>
  </div>
  <div class="col-sm-12">
    <div class="form-group col-sm-6">
      <label for="date">CLIENT_VRTOP_VENDOR_NAME:</label>
        <!-- <div class="input-group"> -->
           <input ng-if="edit" type="text" class="form-control" ng-model="itemOne.CLIENT_VRTOP_VENDOR_NAME">
           <span ng-if="view">{{itemOne.CLIENT_VRTOP_VENDOR_NAME}}</span>
           <!-- <div class="input-group-addon"><i class='icon-calendar'></i></div> -->
        <!-- </div> -->
    </div>
    <div class="form-group col-sm-6">
      <label for="date">RTOP_TYPE_ID:</label>
        <!-- <div class="input-group"> -->
           <input ng-if="edit" type="text" class="form-control" ng-model="itemOne.RTOP_TYPE_ID">
           <span ng-if="view">{{itemOne.RTOP_TYPE_ID}}</span>
           <!-- <div class="input-group-addon"><i class='icon-calendar'></i></div> -->
        <!-- </div> -->
    </div>
  </div>
  <div class="col-sm-12">
    <div class="form-group col-sm-6">
      <label for="date">RTOP_STATUS_ID:</label>
        <!-- <div class="input-group"> -->
           <input ng-if="edit" type="text" class="form-control" ng-model="itemOne.RTOP_STATUS_ID">
           <span ng-if="view">{{itemOne.RTOP_STATUS_ID}}</span>
           <!-- <div class="input-group-addon"><i class='icon-calendar'></i></div> -->
        <!-- </div> -->
    </div>
    <div class="form-group col-sm-6">
      <label for="date">RTOP_CAPABILITY_ID:</label>
        <!-- <div class="input-group"> -->
           <input ng-if="edit" type="text" class="form-control" ng-model="itemOne.RTOP_CAPABILITY_ID">
           <span ng-if="view">{{itemOne.RTOP_CAPABILITY_ID}}</span>
           <!-- <div class="input-group-addon"><i class='icon-calendar'></i></div> -->
        <!-- </div> -->
    </div>
  </div>
  <div class="col-sm-12">
    <div class="form-group col-sm-6">
      <label for="date">EDS_SUPPLIER_VENDOR_NAME:</label>
        <!-- <div class="input-group"> -->
           <input ng-if="edit" type="text" class="form-control" ng-model="itemOne.EDS_SUPPLIER_VENDOR_NAME">
           <span ng-if="view">{{itemOne.EDS_SUPPLIER_VENDOR_NAME}}</span>
           <!-- <div class="input-group-addon"><i class='icon-calendar'></i></div> -->
        <!-- </div> -->
    </div>
    <div class="form-group col-sm-6">
      <label for="date">RTOP_INCIDENT_START_DT:</label>
        <!-- <div class="input-group"> -->
           <input ng-if="edit" type="text" class="form-control" ng-model="itemOne.RTOP_INCIDENT_START_DT">
           <span ng-if="view">{{itemOne.RTOP_INCIDENT_START_DT}}</span>
           <!-- <div class="input-group-addon"><i class='icon-calendar'></i></div> -->
        <!-- </div> -->
    </div>
  </div>
  <div class="col-sm-12">
    <div class="form-group col-sm-6">
      <label for="date">RTOP_START_DT:</label>
        <!-- <div class="input-group"> -->
           <input ng-if="edit" type="text" class="form-control" ng-model="itemOne.RTOP_START_DT">
           <span ng-if="view">{{itemOne.RTOP_START_DT}}</span>
           <!-- <div class="input-group-addon"><i class='icon-calendar'></i></div> -->
        <!-- </div> -->
    </div>
    <div class="form-group col-sm-6">
      <label for="date">RTOP_INCIDENT_MASTER_ID:</label>
        <!-- <div class="input-group"> -->
           <input ng-if="edit" type="text" class="form-control" ng-model="itemOne.RTOP_INCIDENT_MASTER_ID">
           <span ng-if="view">{{itemOne.RTOP_INCIDENT_MASTER_ID}}</span>
           <!-- <div class="input-group-addon"><i class='icon-calendar'></i></div> -->
        <!-- </div> -->
    </div>
  </div>
  <div class="col-sm-12">
    <div class="form-group col-sm-6">
      <label for="date">CONTACT_FIRSTNAME:</label>
        <!-- <div class="input-group"> -->
           <input ng-if="edit" type="text" class="form-control" ng-model="itemOne.CONTACT_FIRSTNAME">
           <span ng-if="view">{{itemOne.CONTACT_FIRSTNAME}}</span>
           <!-- <div class="input-group-addon"><i class='icon-calendar'></i></div> -->
        <!-- </div> -->
    </div>
    <div class="form-group col-sm-6">
      <label for="date">CONTACT_LASTNAME:</label>
        <!-- <div class="input-group"> -->
           <input ng-if="edit" type="text" class="form-control" ng-model="itemOne.CONTACT_LASTNAME">
           <span ng-if="view">{{itemOne.CONTACT_LASTNAME}}</span>
           <!-- <div class="input-group-addon"><i class='icon-calendar'></i></div> -->
        <!-- </div> -->
    </div>
  </div>