<div class="row ctr-header" ng-init="getCurrentSubmenu()">
  <div class="col-xs-12">
    <label>{{currentSubmenuName}}</label>
  </div>
</div>

<div ng-show="showOriginal" ng-class="showHorizontalCss ? 'col-sm-6':''">

  <div incident-filter-bar></div>

  <div class="" ng-show="tablefilter">
    <div class="row">
        <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
          <label>RtOP Date From:</label>
        </div>
        <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
          <div class="input-group" >
             <input type="text" class="form-control" ng-model="fromDate" data-max-date="{{untilDate}}" placeholder="From" bs-datepicker 
             data-bs-show="dpd1.show">
             <span class='input-group-addon' tabindex="0"  ng-blur="dpd1.show=false" ng-focus="dpd1.show=true"><i class='icon-calendar'></i></span>
          </div>
        </div>
        <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
          <label>RtOP Date To:</label>
        </div>
        <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="untilDate" data-min-date="{{fromDate}}" placeholder="Until" bs-datepicker 
             data-bs-show="dpd2.show">
             <span class='input-group-addon' tabindex="0"  ng-blur="dpd2.show=false" ng-focus="dpd2.show=true"><i class='icon-calendar'></i></span>
          </div>
        </div>
        <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
          <label>Priority:</label>
        </div>
        <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
          <div class="selector ctr-height">
            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedRtopSeverity" ng-change="updateFilter(selectedIcons)" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.severityDesc as icon.severityDesc for icon in rtopSeverity" 
            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
            </button>
          </div>
        </div>
        <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
          <label>Capability:</label>
        </div>
        <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
          <div class="selector ctr-height">
            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedRtopCapability" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.capabilityDesc as icon.capabilityDesc for icon in rtopCapability" 
            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
            </button>
          </div>
        </div>
        <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
          <label>Client:</label>
        </div>
        <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
          <div class="selector ctr-height">
            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedRtopClient" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.clientId as icon.clientDesc for icon in rtopClient" 
            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
            </button>
          </div>
          </button>
        </div>
        <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
          <label>RtOP Status:</label>
        </div>
        <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
          <div class="selector ctr-height">
            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedRtopStatus" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.statusId as icon.statusDesc for icon in rtopStatus" 
            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
            </button>
          </div>
        </div>
        <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
          <label>RtOP Type:</label>
        </div>
        <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
          <div class="selector ctr-height">
            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedRtopType" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.rtopTypeId as icon.rtopTypeDesc for icon in rtopType" 
            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
            </button>
          </div>
        </div>
        <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
          <label>Region:</label>
        </div>
        <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
          <div class="selector ctr-height">
            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedRtopRegion" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.regionId as icon.regionDesc for icon in rtopRegion" 
            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
            </button>
          </div>
        </div>
        <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
          <label>Resp Owner:</label>
        </div>
        <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
          <div class="selector ctr-height">
            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedResponsibleOwner" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.respownerId as icon.respownerDesc for icon in responsibleOwner" 
            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
            </button>
          </div>
        </div>
        <div class="col-sm-5 col-md-2  col-lgf-1 col-h">
          <label>RtOP #:</label>
        </div>
        <div class="col-sm-7 col-md-4  col-lgf-3 col-h">
          <input type="text" class="form-control" ng-model="rtopNumber" placeholder="Rtop Number">
        </div>
        <div class="col-sm-12 col-md-6">
          <button ng-click="getNewRtopData(fromDate,untilDate)" class="btn-hp btn-primary">
            Search
          </button>
        </div>
    </div>
    <div class="row form-seperator"></div>
  </div>

  <div class="" ng-show="tableEmail">
    <div ng-include src="'views/modal/email.html'"></div>
    <div class="row form-seperator"></div>
  </div>

  <div class="row" ng-show="showcontent">

    <div class="col-xs-5 col-sm-4 col-lg-3">
      <button type="button" class="btn-hp btn-primary marginB" ng-model="selectedrtopColumns" data-template="template/select/incident-rtop_view_by.html" 
      data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="RtOP.value as RtOP.label for RtOP in rtopColumns" 
      bs-select placeholder="View By" data-icon-checkmark="icon-checkmark" max-length-html="View By">
      </button>
    </div>
    <div class="col-xs-7 col-sm-offset-2 col-sm-6 col-md-offset-3 col-md-5 col-lg-offset-5 col-lg-4">
      <div class="input-group">
        <span class="input-group-addon"><i class='icon-search'></i></span>
        <input class="form-control" placeholder="Search for..." type="text" ng-model="filterOptions.filterText" />
      </div>
    </div>
    
  </div>

  <div class="row ctr-grid" ng-show="showcontent">
      <div class="sub-content col-xs-12">
        <div class="gridStyle" ng-grid="gridOptions"></div>
      </div>
  </div>

</div>

<div ng-show="showHorizontal" data-ui-view="contentHorizontal" ng-class="showHorizontalCss ? 'col-sm-6':''">
</div>
<div ng-show="showVertical" data-ui-view="contentVertical">
</div>
<div ng-show="showDefault" data-ui-view="contentDefault">
</div>