<div class="row ctr-header" ng-init="getCurrentSubmenu()">
  <div class="col-xs-12">
    <label>{{currentSubmenuName}}</label>
  </div>
</div>
<div>
  <div class="form-seperator-top"></div>
    <div class="row form-inline"> 
      <div class="col-sm-12 ctr-filter">
        <div class="form-group">
          <button class="btn btn-filter" ng-click="moreaction = !moreaction" bs-dropdown="exports" data-html="true">
              More Action<i class="icon-chevron-down icon-blue"></i>
          </button>                   
            <button container=".ctr-filter" 
            class="btn btn-filter" 
            ng-click="sectionselector = !sectionselector" 
            bs-dropdown 
            data-html="true"
            data-toggle="dropdown"
            data-template="sectionselect-dropdown-template-imcl"
            >Select Section<i class="marR6 icon-chevron-down  icon-blue "></i>
            </button>   

            <script type="text/ng-template" id="sectionselect-dropdown-template-imcl">
            <ul class="dropdown-menu col-md-4">
                <div class="top-ctrl col-md-12">
                  <button class="btn col-md-6 btn-filter" ng-click="expandall()">
                    Expand All
                    <i class="marR6 icon-expand2"></i>
                  </button>
                  <button class="btn col-md-6 btn-filter noB" ng-click="collapseall()">
                    Collapse All
                    <i class="marR6 icon-contract"></i>
                  </button>
                </div>
                <div class="seperator col-md-12"></div>
                <div class="mid-ctrl col-md-12 pad0">
                  <ul class="col-md-6">
                    <li class="marB5 col-md-12" ng-click="selectpanel($index)" ng-repeat="panel in imcl.panels" ng-if="$even">{{panel.name}}</li>
                  </ul>
                  <ul class="col-md-6">
                    <li class="marB5 col-md-12" ng-click="selectpanel($index)" ng-repeat="panel in imcl.panels" ng-if="$odd">{{panel.name}}</li>
                  </ul>
                </div>                              
            </ul>
            </script>
          
        </div>                
        
      </div>
    </div>
  <div class="form-seperator-bottom"></div>
</div>


<!-- <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20"> -->
<div my-Height>
<div ng-scrollbar rebuild-on="rebuild:me" rebuild-on-resize>
<!-- <div ng-scrollbar my-Height  > -->
<!-- <div dynamicheight> -->
<div class="panel-group" ng-model="panels.activePanels" data-allow-multiple="true" role="tablist" aria-multiselectable="true" bs-collapse>

  <div class="panel panel-default">
      <div class="panel-heading" 
          ng-click="imcl.panels[0].isOpen = !imcl.panels[0].isOpen" 
          class="ng-scope" 
          bs-collapse-toggle 
          bs-tooltip 
          data-trigger="hover" 
          data-type="success" 
          data-animation="am-slideDown"
          data-title="Open/Close Section">General Checklist Information
          <paneltool class="pull-right">            
              <i ng-show="!imcl.panels[0].isOpen" class="icon-plus3 ng-hide"></i>                 
              <i ng-show="imcl.panels[0].isOpen" class="icon-minus3"></i>                           
          </paneltool>
      </div>
      <div class="panel-wrapper" bs-collapse-target>
          <div class="panel-body form-group">
            <!-- <div class="col-md-12 pad0 alert alert-info">
              {{selected.general}}
            </div> -->
                      
                <div class="col-md-12 pad0">
                  <!-- left -->
                  <div class="col-md-6">
                    <label for="inputType" class="col-md-4">Clients :</label>                    
                    <!-- <div class="col-md-8 selector">        
                      <div class="form-control" ng-model="selected.general.Client" data-html="1" 
                      bs-options="c.id as c.name for c in imcl.clients" bs-select data-caret-html="<span class='icon-chevron-down pull-right'></span>">
                      </div>
                    </div> -->
                    <div class="form-group col-md-8">
                      <div class="selector">
                      <button class="form-control ctm-content btn btn-default btn-border" ng-model="selected.general.Client" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="c.value as c.label for c in imcl.clients" 
                      bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
                      data-icon-checkmark="icon-checkmark" all-none-buttons="1">
                      </button>
                      </div>
                    </div>  
                        

                    <label for="inputType" class="col-md-4">Affected Sites :</label>
                    <div class="col-md-8">        
                      <textarea class="form-control" ng-model="selected.general.affectedsites" rows="5"></textarea>
                    </div>

                    <label for="inputType" class="col-md-4">Technical MML :</label>
                    <div class="col-md-8">        
                      <input type="text"  ng-model="selected.general.techmml" class="form-control">
                    </div> 

                    <label for="inputType" class="col-md-4">Business MML :</label>
                    <div class="col-md-8">        
                      <input type="text" ng-model="selected.general.busmml" class="form-control">
                    </div>

                    <label for="inputType" class="col-md-4">War Room :</label>
                    <div class="col-md-8">        
                      <input type="text" ng-model="selected.general.warroom" class="form-control">
                    </div>

                    <label for="inputType" class="col-md-4">PEM Name :</label>
                    <div class="col-md-8">        
                      <input type="text" ng-model="selected.general.pemname" class="form-control">
                    </div>

                  </div>
                  <!-- endleft -->
                  <!-- right -->
                  <div class="col-md-6">
                    <label for="inputType" class="col-md-4">RtOP :</label>
                    <div class="col-md-8">        
                      <input type="text" ng-model="selected.general.rtopid" class="form-control" disabled>
                    </div>

                    <label for="inputType" class="col-md-4">INC Ticket :</label>
                    <div class="col-md-8">        
                      <input type="text" ng-model="selected.general.incticket" class="form-control">
                    </div>

                    <label for="inputType" class="col-md-4">Priority :</label>
                    <div class="col-md-8 selector">                        
                      <button class="form-control ctm-content btn btn-default btn-border" ng-model="selected.general.CapabilityUnit" data-html="1" bs-options="p.value as p.label for p in imcl.priorities" 
                      bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>">
                      </button>
                    </div>
                    
                    <div class="col-md-12">
                    <label for="inputType" class="col-md-4">HP Capability Unit :</label>
                    <div class="col-md-8 selector">        
                      <button class="form-control ctm-content btn btn-default btn-border" ng-model="selected.general.CapabilityUnit" data-html="1" 
                      bs-options="c.id as c.name for c in imcl.hpcapabilityunit" bs-select data-caret-html="<span class='icon-chevron-down pull-right'></span>">
                      </button>
                    </div>
                    </div>
                    
                    <div class="col-md-12">
                    <label for="inputType" class="col-md-4">No. of Users Impacted :</label>
                    <div class="col-md-8">        
                      <input type="text" ng-model="selected.general.noofusersimpacted" class="form-control">
                    </div>
                    </div>
                    
                    <div class="col-md-12">
                    <label for="inputType" class="col-md-4">Date :</label>
                    <div class="col-md-8">
                      <div class="col-md-12">   
                      <my-date-time-picker input-time="selected.general.DateIMCLcreated" class="input-group datetimepicker-date"></my-date-time-picker>
                      </div>
                    </div>
                    </div>
                    

                    <label for="inputType" class="col-md-4">Timezone :</label>
                    <div class="col-md-8 selector">        
                       <button class="form-control ctm-content btn btn-default btn-border" ng-model="selected.Timezone" data-html="1" 
                      bs-options="tz.abbr as tz.text for tz in imcl.timezones" bs-select data-caret-html="<span class='icon-chevron-down pull-right'></span>">
                      </button>
                    </div>       

                  </div>
                  <!-- endright -->

                </div>

                <div class="col-md-12 pad0">
                <div class="col-md-12">
                  <label for="inputType" class="col-md-2 area-adjust">Description of the Problem :</label>
                  <div class="col-md-10">        
                      <textarea class="form-control" ng-model="selected.general.probdesc" rows="5"></textarea>
                  </div>

                  <label for="inputType" class="col-md-2 area-adjust">Business Impact :</label>
                  <div class="col-md-10">        
                      <textarea class="form-control" ng-model="selected.general.busimpact" rows="5"></textarea>
                  </div>
                </div>
                </div>
                   
            
          </div>
      </div>    
  </div>

  <div class="panel panel-default">
      <div class="panel-heading" 
          ng-click="imcl.panels[1].isOpen = !imcl.panels[1].isOpen" 
          class="ng-scope" 
          bs-collapse-toggle 
          bs-tooltip 
          data-trigger="hover" 
          data-type="success" 
          data-animation="am-slideDown"
          data-title="Open/Close Section">Key Times
         <paneltool class="pull-right">
            <i ng-show="!imcl.panels[1].isOpen" class="icon-plus3 ng-hide"></i>                 
            <i ng-show="imcl.panels[1].isOpen" class="icon-minus3"></i>               
        </paneltool>
      </div>
      <div class="panel-wrapper" bs-collapse-target>
         <div class="panel-body form-group">
            <!-- <div class="col-md-12 pad0 alert alert-info">
              {{selected.keytimes}}
            </div> -->
            <div class="col-md-12 pad0">
              <!-- left -->
              <div class="col-md-6 pad0">
                <div class="col-md-12">
                <label for="inputType" class="col-md-4">Time Incident Started :</label>
                <div class="col-md-8">
                      <div class="col-md-12">   
                      <my-date-time-picker input-time="selected.keytimes.incidentstart" class="input-group datetimepicker-date"></my-date-time-picker>
                      </div>
                </div>
                </div>

                <div class="col-md-12">
                <label for="inputType" class="col-md-4">Time Alert Received :</label>
                <div class="col-md-8">
                      <div class="col-md-12">   
                      <my-date-time-picker input-time="selected.keytimes.alertreceived" class="input-group datetimepicker-date"></my-date-time-picker>
                      </div>
                </div>
                </div>  

                <div class="col-md-12">
                <label for="inputType" class="col-md-4">Time Declared Sev 1 :</label>
                <div class="col-md-8">
                      <div class="col-md-12">   
                      <my-date-time-picker input-time="selected.keytimes.declared" class="input-group datetimepicker-date"></my-date-time-picker>
                      </div>
                </div>
                </div>

                <div class="col-md-12">
                <label for="inputType" class="col-md-4">RtOP Opened (time) :</label>
                <div class="col-md-8">
                      <div class="col-md-12">   
                      <my-date-time-picker input-time="selected.keytimes.rtopopened" class="input-group datetimepicker-date"></my-date-time-picker>
                      </div>
                </div>
                </div>

              </div>
              <!-- endleft -->
              <!-- right -->
              <div class="col-md-6">

                <div class="col-md-12">
                <label for="inputType" class="col-md-4">Time downgraded :</label>
                <div class="col-md-8">
                      <div class="col-md-12">   
                      <my-date-time-picker input-time="selected.keytimes.downgraded" class="input-group datetimepicker-date"></my-date-time-picker>
                      </div>
                </div>
                </div>
                
                <div class="col-md-12">
                <label for="inputType" class="col-md-4">To severity :</label>
                <div class="col-md-8 selector">                        
                  <button class="form-control ctm-content btn btn-default btn-border" ng-model="selected.keytimes.severity" data-html="1" 
                  bs-options="s.id as s.text for s in imcl.severities" bs-select data-caret-html="<span class='icon-chevron-down pull-right'></span>">
                  </button>
                </div>
                </div>

                <div class="col-md-12">
                <label for="inputType" class="col-md-4">Workaround Applied :</label>
                <div class="col-md-8">
                      <div class="col-md-12">   
                      <my-date-time-picker input-time="selected.keytimes.workaround" class="input-group datetimepicker-date"></my-date-time-picker>
                      </div>
                </div>
                </div>

                <div class="col-md-12">     
                <label for="inputType" class="col-md-4">Incident Resolved Time :</label>
                <div class="col-md-8">
                      <div class="col-md-12">   
                      <my-date-time-picker input-time="selected.keytimes.resolved" class="input-group datetimepicker-date"></my-date-time-picker>
                      </div>
                </div>
                </div>

                <div class="col-md-12">
                <label for="inputType" class="col-md-4">How :</label>
                 <div class="col-md-8 selector">                        
                    <button class="form-control ctm-content btn btn-default btn-border" ng-model="selected.keytimes.how" data-html="1" 
                  bs-options="h.id as h.text for h in imcl.how" bs-select data-caret-html="<span class='icon-chevron-down pull-right'></span>">
                  </button>
                </div>
                </div>

              </div>
              <!-- endright -->

            </div>
         </div>
      </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading"
          ng-click="imcl.panels[2].isOpen = !imcl.panels[2].isOpen" 
          class="ng-scope" 
          bs-collapse-toggle 
          bs-tooltip 
          data-trigger="hover" 
          data-type="success" 
          data-animation="am-slideDown"
          data-title="Open/Close Section">Configuration Items
         <paneltool class="pull-right">
            <i ng-show="!imcl.panels[2].isOpen" class="icon-plus3 ng-hide"></i>                 
            <i ng-show="imcl.panels[2].isOpen" class="icon-minus3"></i>
        </paneltool>
      </div>
      <div class="panel-wrapper" bs-collapse-target>
        <div class="panel-body form-group">        
          <!-- <div class="col-md-12 pad0 alert alert-info">
            {{selected.config1}}
          </div> -->

          <form name="config1Form">
            <div class="col-md-12 pad0">
              <!-- left -->
              <div class="col-md-6">

                <div class="col-md-12"> 
                <label for="inputType" class="col-md-4">Device/CI Name :</label>
                <div class="col-md-8">        
                  <input type="text" ng-model="selected.config1.devicename" class="form-control" required>
                </div>
                </div>

                <div class="col-md-12">
                <label for="inputType" class="col-md-4">Device/CI Type :</label>                
                <div class="col-md-8 selector">                        
                  <button class="form-control ctm-content btn btn-default btn-border" ng-model="selected.config1.devicetype" data-html="1" 
                  bs-options="dt.id as dt.text for dt in imcl.devicetype" bs-select data-caret-html="<span class='icon-chevron-down pull-right'></span>">
                  </button>
                </div>
                </div>     
          
                <div class="col-md-12">                         
                <label for="inputType" class="col-md-4">Model # :</label>
                <div class="col-md-8">        
                  <input type="text" ng-model="selected.config1.model" class="form-control">
                </div>

                <label for="inputType" class="col-md-4">Vendor :</label>      
                <div class="col-md-8 selector">                        
                  <button class="form-control ctm-content btn btn-default btn-border" ng-model="selected.config1.vendor" data-html="1" 
                  bs-options="v.id as v.text for v in imcl.vendor" bs-select data-caret-html="<span class='icon-chevron-down pull-right'></span>">
                  </button>
                </div>
                </div>

                <div class="col-md-12">
                <label for="inputType" class="col-md-4">Location :</label>
                <div class="col-md-8">        
                  <input type="text" ng-model="selected.config1.location" class="form-control">
                </div>
                </div>


              </div>
              <!-- endleft -->
              <!-- right -->
              <div class="col-md-6">                    
                <div class="checkboxes col-md-12 pad0">
                  <label class="col-md-4"><input type="radio" ng-model="selected.config1.dedicated" value="0" name="IMtype"><span>Leveraged</span></label>
                  <label class="col-md-4"><input type="radio" ng-model="selected.config1.dedicated" value="1" name="IMtype"><span>Dedicated</span></label>
                  <label class="col-md-4"><input checked ng-model="selected.config1.ci" type="checkbox"><span>CI in CMDB</span></label>      
                </div>

                <div class="col-md-12">                
                <label for="inputType" class="col-md-4">NOC Region :</label>
                <div class="col-md-8 selector">                        
                    <button class="form-control ctm-content btn btn-default btn-border" ng-model="selected.config1.nocregion" data-html="1" 
                    bs-options="r.id as r.text for r in imcl.nocregion" bs-select data-caret-html="<span class='icon-chevron-down pull-right'></span>">
                    </button>
                </div>
                </div>

                <div class="col-md-12">  
                <label for="inputType" class="col-md-4">NOC Responsible :</label>
                <div class="col-md-8 selector">                        
                    <button class="form-control ctm-content btn btn-default btn-border" ng-model="selected.config1.nocresponsible" data-html="1" 
                    bs-options="res.id as res.text for res in imcl.nocresponsible" bs-select data-caret-html="<span class='icon-chevron-down pull-right'></span>">
                    </button>
                </div>
                </div>

                <div class="col-md-12">
                <label for="inputType" class="col-md-4">Responsible Party :</label>
                <div class="col-md-8 selector">                        
                    <button class="form-control ctm-content btn btn-default btn-border" ng-model="selected.config1.responsibleparty" data-html="1" 
                    bs-options="resp.id as resp.text for resp in imcl.responsibleparty" bs-select data-caret-html="<span class='icon-chevron-down pull-right'></span>">
                    </button>
                </div>
                </div>


              </div>
              <!-- endright -->
            </div>

            <div class="col-md-12 pad0">
            <div class="col-md-12">
              <label for="inputType" class="col-md-2 area-adjust">Note :</label>
              <div class="col-md-10">        
                  <textarea class="form-control" ng-model="selected.config1.note" rows="5"></textarea>
              </div>
            </div>
            </div>
          </form>        
        </div>              
        <div class="panel-action text-center">
          <button class="btn btn-primary btn-hp btn-sm" ng-disabled="config1Form.$invalid" ng-click="addconfig1()">Add</button>
        </div>

        <div class="panel-table text-center" ng-hide="!config1.length">        
          <div class="gridStyle imclconfig1" style="height:200px;" ng-grid="grid1"></div>        
        </div>

        <div class="panel-subheading">Replacement Parts</div>
          <div class="panel-body form-group">
            <!-- <div class="col-md-12 pad0 alert alert-info">
              {{selected.config2}}
            </div> -->
            <form name="config2Form">
            <div class="col-md-12 pad0">
              
              <label for="inputType" class="col-md-2">Serial # :</label>
              <div class="col-md-4">        
                <input type="text" ng-model="selected.config2.replacement" class="form-control" required>
              </div>

              <label for="inputType" class="col-md-2">RMA Part Validated :</label>
              <div class="col-md-4">     
                <div class="col-md-12">   
                    <my-date-time-picker input-time="selected.config2.rmapartvalidated" class="input-group datetimepicker-date"></my-date-time-picker>
                </div>
              </div> 

            </div>
            <div class="col-md-12 pad0">

              <label for="inputType" class="col-md-2">Notes :</label>
              <div class="col-md-10">        
                <textarea class="form-control" ng-model="selected.config2.rmanote" rows="5"></textarea>
              </div>
              
            </div>    
            </form>
            
         </div>
        <div class="panel-action text-center">
          <button class="btn btn-primary btn-hp btn-sm" ng-disabled="config2Form.$invalid" ng-click="addconfig2()">Add</button>
        </div>
        <div class="panel-table text-center">          
            <div class="gridStyle imclconfig1" style="height:200px;" ng-grid="grid2"></div>
        </div>      

      </div>       
  </div>

  <div class="panel panel-default">
      <div class="panel-heading" 
          ng-click="imcl.panels[3].isOpen = !imcl.panels[3].isOpen" 
          class="ng-scope" 
          bs-collapse-toggle 
          bs-tooltip 
          data-trigger="hover" 
          data-type="success" 
          data-animation="am-slideDown"
          data-title="Open/Close Section">Checks (0 to 15 Minutes)
          <paneltool class="pull-right">
              <i ng-show="!imcl.panels[3].isOpen" class="icon-plus3 ng-hide"></i>                 
              <i ng-show="imcl.panels[3].isOpen" class="icon-minus3"></i>
          </paneltool>
      </div>   
      <div class="panel-wrapper" bs-collapse-target>
         <div class="panel-body form-group">        
            <!-- <div class="col-md-12 pad0 alert alert-info">
              {{selected.check1}}
            </div> -->
            
            <div class="col-md-12 col-xs-12 pad0">              
                <label for="inputType" class="col-md-3 col-xs-12">Level 2 Joined MML :</label>
                <div class="col-md-5 col-xs-12">
                  <div class="col-md-12">   
                      <my-date-time-picker input-time="selected.check1.lvlmml" class="input-group datetimepicker-date"></my-date-time-picker>
                  </div>
                </div>
            </div>

            <div class="col-md-12 col-xs-12 pad0">
                <label for="inputType" class="col-md-3">Check Watchlist :</label>
                <div class="col-md-5">
                  <div class="col-md-12">   
                      <my-date-time-picker input-time="selected.check1.checkwatchlist" class="input-group datetimepicker-date"></my-date-time-picker>
                  </div>
                </div> 
                <div class="checkboxes col-md-4 col-xs-12">                
                  <label><input checked type="checkbox" ng-model="selected.check1.notification"><span>Notification Necessary</span></label>       
                </div>
            </div>   

            <div class="col-md-12 col-xs-12 pad0">
                <label for="inputType" class="col-md-3 ">Network Change Review Complete :</label>
                <div class="col-md-5">
                  <div class="col-md-12">   
                      <my-date-time-picker input-time="selected.check1.networkchange" class="input-group datetimepicker-date"></my-date-time-picker>
                  </div>
                </div>
                <label for="inputType" class="col-md-2 col-lg-1">Name :</label>
                <div class="col-md-2 col-lg-3">        
                  <input type="text" ng-model="selected.check1.networkchangename" class="form-control" required>
                </div>
            </div> 

            <div class="col-md-12 col-xs-12 pad0">
                <label for="inputType" class="col-md-3">BMML Opened (If Requested) :</label>
                <div class="col-md-5">
                  <div class="col-md-12">   
                      <my-date-time-picker input-time="selected.check1.bmmlopened" class="input-group datetimepicker-date"></my-date-time-picker>
                  </div>    
                </div>        
            </div> 
            
            <div class="col-md-12 col-xs-12 pad0">
                <label for="inputType" class="col-md-3">SMT Change Review/Incident Validation Complete:</label>
                <div class="col-md-5">
                  <div class="col-md-12">   
                      <my-date-time-picker input-time="selected.check1.smtchange" class="input-group datetimepicker-date"></my-date-time-picker>
                  </div>
                </div>
                <label for="inputType" class="col-md-2 col-lg-1">Name :</label>
                <div class="col-md-2 col-lg-3">        
                  <input type="text" ng-model="selected.check1.smtchangename" class="form-control" required>
                </div>
            </div>

            <div class="col-md-12 col-xs-12 pad0">
                <label for="inputType" class="col-md-3">Obtain Device Logs :</label>
                <div class="col-md-5">
                  <div class="col-md-12">   
                      <my-date-time-picker input-time="selected.check1.obtaindevice" class="input-group datetimepicker-date"></my-date-time-picker>
                  </div>
                </div>              
            </div>

   
            <div class="col-md-12 col-xs-12 pad0 form-seperator"></div>  

            <form name="check1form">
            <div class="col-md-12 col-xs-12 pad0">
                <label for="inputType" class="col-md-3">Quick Restore Taken :</label>
                <div class="col-md-5">
                  <div class="col-md-12">   
                      <my-date-time-picker input-time="selected.check1.quickrestoretime" class="input-group datetimepicker-date"></my-date-time-picker>
                  </div>
                </div>
                <div class="checkboxes col-md-2 col-xs-12">                
                  <label><input checked type="checkbox" ng-model="selected.check1.remote"><span>Remote</span></label>       
                </div>
                <div class="col-md-2 col-xs-12 selector">                        
                  <button class="form-control ctm-content btn btn-default btn-border" ng-model="selected.check1.remotemethod" data-html="1" 
                  bs-options="c.id as c.text for c in imcl.remotemethod" bs-select placeholder="Select..." data-caret-html="<span class='icon-chevron-down pull-right'></span>">
                  </button>
                </div>
            </div>   

            <div class="col-md-12 col-xs-12 pad0">
                <label for="inputType" class="col-md-3 col-lg-3 col-xs-12">Did Resilience/Redundancy Work? :</label>
                <div class="checkboxes col-md-7 col-lg-5">
                  <label class="col-md-4 col-xs-6"><input type="radio" ng-model="selected.check1.resilience" value="0" name="IMtype"><span>Yes</span></label>
                  <label class="col-md-4 col-xs-6"><input type="radio" ng-model="selected.check1.resilience" value="1" name="IMtype"><span>No</span></label>     
                  <label class="col-md-4 col-xs-12"><input type="radio" ng-model="selected.check1.resilience" value="2" name="IMtype"><span>None Designed</span></label>
                </div>
            </div> 

            <div class="col-md-12 col-xs-12 pad0">
                <label for="inputType" class="col-md-3">CI Name :</label>
                <div class="col-md-5">        
                  <input type="text" ng-model="selected.check1.ciname" class="form-control" required>
                </div>
                <div class="checkboxes col-md-4">
                  <label><input type="checkbox" ng-model="selected.check1.success" value="0" name="IMtype"><span>Success</span></label>
                </div>
            </div> 

            <div class="col-md-12 col-xs-12 pad0">
              <label for="inputType" class="col-md-3">Notes :</label>
              <div class="col-md-9">        
                <textarea class="form-control" ng-model="selected.check1.note" rows="5"></textarea>
              </div>
            </div>

            </form>                          

         </div>
        <div class="panel-action text-center">
          <button class="btn btn-primary btn-hp btn-sm" ng-disabled="check1form.$invalid" ng-click="addcheck1()">Add</button>
        </div>         
        <div class="panel-table text-center">        
          <div class="gridStyle imclconfig1" style="height:200px;" ng-grid="grid3"></div>
        </div>
      </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading" 
          ng-click="imcl.panels[4].isOpen = !imcl.panels[4].isOpen" 
          class="ng-scope" 
          bs-collapse-toggle 
          bs-tooltip 
          data-trigger="hover" 
          data-type="success" 
          data-animation="am-slideDown"
          data-title="Open/Close Section">Checks (30 Minutes)
          <paneltool class="pull-right">
              <i ng-show="!imcl.panels[4].isOpen" class="icon-plus3 ng-hide"></i>                 
              <i ng-show="imcl.panels[4].isOpen" class="icon-minus3"></i>
          </paneltool>
      </div>   
      <div class="panel-wrapper" bs-collapse-target>
         <div class="panel-body form-group"> 
                <div class="checkboxes col-md-12 col-xs-12">
                  <label class="col-md-12"><input type="checkbox" ng-model="selected.check2.gnoc"><span>GNOC and SMT should continue Incident Validation if not Completed. GNOC Utilizing UPCDE Process</span></label>
                </div> 
                <div class="checkboxes col-md-12 col-xs-12">
                  <label class="col-md-12"><input type="checkbox" ng-model="selected.check2.workaround"><span>Investigate Workarounds or Manual Processes to Alleviate Impact to the Clients</span></label>
                </div> 
                <div class="checkboxes col-md-12 col-xs-12">
                  <label class="col-md-12"><input type="checkbox" ng-model="selected.check2.engageother"><span>Engage other network resources as necessary</span></label>
                </div>
                <div class="checkboxes col-md-12 col-xs-12">
                  <label class="col-md-12"><input type="checkbox" ng-model="selected.check2.engagevendors"><span>Engage vendors as necessary</span></label>
                </div>
                <div class="checkboxes col-md-12 col-xs-12">
                  <label class="col-md-12"><input type="checkbox" ng-model="selected.check2.performescalation"><span>Perform escalations as necessary</span></label>
                </div>
                <div class="checkboxes col-md-12 col-xs-12">
                  <label class="col-md-12"><input type="checkbox" ng-model="selected.check2.ensurelogreviewed"><span>Ensure technical resources are reviewing available logs</span></label>
                </div>
                <div class="checkboxes col-md-12 col-xs-12">
                  <label class="col-md-12"><input type="checkbox" ng-model="selected.check2.checknids"><span>Check for NIDS/NIPS in traffic path which may not be indicated in diagram</span></label>
                </div>
                <div class="checkboxes col-md-12 col-xs-12">
                  <label class="col-md-12"><input type="checkbox" ng-model="selected.check2.sendnotification"><span>Send Notifications/Updates (After 30 Minutes)</span></label>
                </div> 
                <div class="checkboxes col-md-12 col-xs-12">
                  <label class="col-md-8"><input type="checkbox" ng-model="selected.check2.escalatelis"><span>Escalate to Mike Klix immediately for LIS or multi-client impact</span></label>
                  <div class="col-md-4">
                    <div class="col-md-12">   
                      <my-date-time-picker input-time="selected.check2.quickrestoretime" class="input-group datetimepicker-date"></my-date-time-picker>
                    </div>
                  </div>
                </div>  
                <div class="checkboxes col-md-12 col-xs-12">
                  <label class="col-md-8"><input type="checkbox" ng-model="selected.check2.engagego2team"><span>Engage Go2 Team if problem is complex and/or long running</span></label>
                  <div class="col-md-4"> 
                    <div class="col-md-12">   
                      <my-date-time-picker input-time="selected.check2.quickrestoretime" class="input-group datetimepicker-date"></my-date-time-picker>
                    </div>
                  </div>
                </div>
                <div class="checkboxes col-md-12 col-xs-12">
                  <label class="col-md-12"><input type="checkbox" ng-model="selected.check2.techteamvalidation"><span>Technical Team Event Validation Continues</span></label>
                </div>
                <div class="checkboxes col-md-12 col-xs-12">
                  <label class="col-md-12"><input type="checkbox" ng-model="selected.check2.escalationnoshow"><span>Escalations to "No Shows" continue</span></label>
                </div>
                <div class="checkboxes col-md-12 col-xs-12">
                  <label class="col-md-12"><input type="checkbox" ng-model="selected.check2.updatepem"><span>Updates to PEM/BMML and Executive Updates Continue</span></label>
                </div>
                <div class="checkboxes col-md-12 col-xs-12">
                  <label class="col-md-12"><input type="checkbox" ng-model="selected.check2.noclearsightescalate"><span>At 2 Hr Mark, Escalate to Mike Klix if no Clear-Sight to Resolution Available</span></label>
                </div>
                <div class="checkboxes col-md-12 col-xs-12">
                  <label class="col-md-12"><input type="checkbox" ng-model="selected.check2.escalateorg"><span>At 3 Hr Mark and 5 Hr Mark All Support Teams Must Escalate within their Organizations</span></label>
                </div>
                <div class="checkboxes col-md-12 col-xs-12">
                  <label class="col-md-12"><input type="checkbox" ng-model="selected.check2.deploynetsniffer"><span>If the Network is Perceived to be Operating at a Degraded Level or is Experiencing Persistent intermittent issues, deployment of Network Sniffer and/or Netscout analysis tools must be initiated within 4 Hrs</span></label>
                </div>
         </div>
      </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading" 
          ng-click="imcl.panels[5].isOpen = !imcl.panels[5].isOpen" 
          class="ng-scope" 
          bs-collapse-toggle 
          bs-tooltip 
          data-trigger="hover" 
          data-type="success" 
          data-animation="am-slideDown"
          data-title="Open/Close Section">Incident Timeline
        <paneltool class="pull-right">
            <i ng-show="!imcl.panels[5].isOpen" class="icon-plus3 ng-hide"></i>                 
            <i ng-show="imcl.panels[5].isOpen" class="icon-minus3"></i>
        </paneltool>
      </div>   
      <div class="panel-wrapper" bs-collapse-target>
         <div class="panel-body form-group"> 
              <form name="timelineForm">
                <div class="col-md-12 pad0">
                    <label for="inputType" class="col-md-2">Timeline :</label>
                    <div class="col-md-6">
                      <div class="col-md-12">   
                        <my-date-time-picker input-time="selected.timeline.timeline" class="input-group datetimepicker-date"></my-date-time-picker>
                      </div>
                    </div> 
                    <div class="checkboxes col-md-4">                
                      <label><input checked type="checkbox" ng-model="selected.timeline.notification"><span>Add to Notification</span></label>       
                    </div>
                </div>

                <div class="col-md-12 pad0">
                  <label for="inputType" class="col-md-2">Incident Management Activity :</label>
                  <div class="col-md-10">        
                    <textarea class="form-control" ng-model="selected.timeline.activity" rows="5" required></textarea>
                  </div>
                </div>
              </form>
              
         </div>
        <div class="panel-action text-center">
          <button class="btn btn-primary btn-hp btn-sm" ng-disabled="timelineForm.$invalid" ng-click="addtimeline()">Add</button>
        </div>         
        <div class="panel-table text-center">          
          <div class="gridStyle imclconfig1" style="height:200px;" ng-grid="grid4"></div>
        </div>
      </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading" 
          ng-click="imcl.panels[6].isOpen = !imcl.panels[6].isOpen" 
          class="ng-scope" 
          bs-collapse-toggle 
          bs-tooltip 
          data-trigger="hover" 
          data-type="success" 
          data-animation="am-slideDown"
          data-title="Open/Close Section">Key Contacts
        <paneltool class="pull-right">                              
            <i ng-show="!imcl.panels[6].isOpen" class="icon-plus3 ng-hide"></i>                 
            <i ng-show="imcl.panels[6].isOpen" class="icon-minus3"></i>          
        </paneltool>
      </div>   
      <div class="panel-wrapper" bs-collapse-target>
         <div class="panel-body form-group"> 
              <form name="keycontactForm">
                <div class="col-md-12 pad0">
                    <label for="inputType" class="col-md-2">Other Parties Involved :</label>
                    <div class="col-md-6">
                      <div class="col-md-12">   
                        <my-date-time-picker input-time="selected.keycontacts.otherpartyinvolvetime" class="input-group datetimepicker-date"></my-date-time-picker>
                      </div>
                    </div>                   
                </div>

                <div class="col-md-12 pad0">
                  <label for="inputType" class="col-md-2">Name :</label>
                  <div class="col-md-4">        
                    <input type="text" ng-model="selected.keycontacts.name" class="form-control" required>
                  </div>
                  <label for="inputType" class="col-md-2">Team :</label>
                  <div class="col-md-4">        
                    <input type="text" ng-model="selected.keycontacts.team" class="form-control" required>
                  </div>
                </div>
              </form>
                     
         </div>
        <div class="panel-action text-center">
          <button class="btn btn-primary btn-hp btn-sm" ng-disabled="keycontactForm.$invalid" ng-click="addkeycontact()">Add</button>
        </div>          
        <div class="panel-table text-center">
          <div class="gridStyle imclconfig1" style="height:200px;" ng-grid="grid5"></div>
        </div>
      </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading" 
          ng-click="imcl.panels[7].isOpen = !imcl.panels[7].isOpen" 
          class="ng-scope" 
          bs-collapse-toggle 
          bs-tooltip 
          data-trigger="hover" 
          data-type="success" 
          data-animation="am-slideDown"
          data-title="Open/Close Section">Action Plan
        <paneltool class="pull-right">
            <i ng-show="!imcl.panels[7].isOpen" class="icon-plus3 ng-hide"></i>                 
            <i ng-show="imcl.panels[7].isOpen" class="icon-minus3"></i>
        </paneltool>
      </div>   
      <div class="panel-wrapper" bs-collapse-target>
        <div class="panel-body form-group"> 
            <form name="actionplanForm">
              <div class="col-md-12 pad0">
                <label for="inputType" class="col-md-4 col-lg-2">Description :</label>
                <div class="col-md-8 col-lg-10">        
                  <textarea class="form-control" ng-model="selected.actionplans.description" rows="5"></textarea>
                </div>
              </div> 

              <div class="col-md-12 pad0">
                <label for="inputType" class="col-md-4 col-lg-2">Benefits/Expectation :</label>
                <div class="col-md-8 col-lg-10">        
                  <textarea class="form-control" ng-model="selected.actionplans.expectation" rows="5"></textarea>
                </div>
              </div> 

              <div class="col-md-12 pad0">
                <label for="inputType" class="col-md-4 col-lg-2">Action Status :</label>
                <div class="col-md-8 selector">                        
                  <button class="form-control ctm-content btn btn-default btn-border" ng-model="selected.actionplans.actionstatus" data-html="1" 
                  bs-options="as.id as as.text for as in imcl.actionstatus" bs-select data-caret-html="<span class='icon-chevron-down pull-right'></span>">
                  </button>
                </div>
                <label for="inputType" class="col-md-4 col-lg-2">Target Date &amp; Time :</label>
                <div class="col-md-8">
                  <div class="col-md-12">   
                      <my-date-time-picker input-time="selected.actionplans.targetdatetime" class="input-group datetimepicker-date"></my-date-time-picker>
                  </div>
                </div>
              </div>

              <div class="col-md-12 pad0">
                <label for="inputType" class="col-md-4 col-lg-2">Action Owner :</label>
                <div class="col-md-8">        
                    <input type="text" ng-model="selected.actionplans.name" class="form-control" required>
                  </div>
                <label for="inputType" class="col-md-4 col-lg-2">Completion Date :</label>
                <div class="col-md-8">
                  <div class="col-md-12">   
                      <my-date-time-picker input-time="selected.actionplans.completiondatetime" class="input-group datetimepicker-date"></my-date-time-picker>
                  </div>
                </div>
              </div>
            </form>
                      
        </div>
        <div class="panel-action text-center">
          <button class="btn btn-primary btn-hp btn-sm" ng-disabled="actionplanForm.$invalid" ng-click="addactionplan()">Add</button>
        </div>       
        <div class="panel-table text-center">
          <div class="gridStyle imclconfig1" style="height:200px;" ng-grid="grid6"></div>
        </div>
        <div class="panel-body">
          <div class="col-md-12 pad0 text-center">
            <button class="btn btn-primary btn-hp btn-sm" ng-click="savechecklist()">Save Checklist</button>
          </div>  
        </div>
      </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading" 
          ng-click="imcl.panels[8].isOpen = !imcl.panels[8].isOpen" 
          class="ng-scope" 
          bs-collapse-toggle 
          bs-tooltip 
          data-trigger="hover" 
          data-type="success" 
          data-animation="am-slideDown"
          data-title="Open/Close Section">Send Notification/Updates
        <paneltool class="pull-right">
            <i ng-show="!imcl.panels[8].isOpen" class="icon-plus3 ng-hide"></i>                 
            <i ng-show="imcl.panels[8].isOpen" class="icon-minus3"></i>
        </paneltool>
      </div>   
      <div class="panel-wrapper" bs-collapse-target>
         <div class="panel-body padT0"> 

          <div data-fade="1" bs-active-pane="tabs.activeTab" bs-tabs>
            <div ng-repeat="tab in tabs" title="{{ tab.title }}" bs-pane></div>
          </div>
          <div ng-include src="tabs[tabs.activeTab].page" class="padV10"></div>
          
         </div>

      </div>
  </div>

</div>
</div>
</div>
<!-- </perfect-scrollbar> -->