<div class="row ctr-header" ng-init="getCurrentSubmenu()">
  <div class="col-xs-12">
    <label>{{currentSubmenuName}}</label>
  </div>
</div>
<div>
  <div class="form-seperator-top"></div>
    <div class="row form-inline"> 
      <div class="col-sm-12 ctr-filter">
        <div class="form-group">
          <button container=".ctr-filter" class="btn btn-filter" ng-click="moreaction = !moreaction" bs-dropdown="exports" data-html="true">
              More Action<i class="icon-chevron-down icon-blue"></i>
          </button>                   
            <button container=".ctr-filter" 
            class="btn btn-filter" 
            ng-click="sectionselector = !sectionselector" 
            bs-dropdown 
            data-html="true"
            data-toggle="dropdown"
            data-template="sectionselect-dropdown-template-imis"
            >Select Section<i class="marR6 icon-chevron-down  icon-blue "></i>
            </button>     

            <script type="text/ng-template" id="sectionselect-dropdown-template-imis">
            <ul class="dropdown-menu col-md-4">
                <div class="top-ctrl col-md-12">
                  <button class="btn col-md-6 btn-filter" ng-click="expandall()">
                    Expand All
                    <i class="marR6 icon-expand2"></i>
                  </button>
                  <button class="btn col-md-6 btn-filter noB" ng-click="collapseall()">
                    Collapse All
                    <i class="marR6 icon-contract"></i>
                  </button>
                </div>
                <div class="seperator col-md-12"></div>
                <div class="mid-ctrl col-md-12 pad0">
                  <ul class="col-md-6">
                    <li class="marB5 col-md-12" ng-click="selectpanel($index)" ng-repeat="panel in imis.panels" ng-if="$even">{{panel.name}}</li>
                  </ul>
                  <ul class="col-md-6">
                    <li class="marB5 col-md-12" ng-click="selectpanel($index)" ng-repeat="panel in imis.panels" ng-if="$odd">{{panel.name}}</li>
                  </ul>
                </div>                              
            </ul>
            </script>
          
        </div>                
        
      </div>
    </div>
  <div class="form-seperator-bottom"></div>
</div>

<div class="panel-group" ng-model="panels.activePanels" data-allow-multiple="true" role="tablist" aria-multiselectable="true" bs-collapse>

  <div class="panel panel-default">
      <div class="panel-heading" 
          ng-click="imis.panels[0].isOpen = !imis.panels[0].isOpen" 
          class="ng-scope" 
          bs-collapse-toggle 
          bs-tooltip 
          data-trigger="hover" 
          data-type="success" 
          data-animation="am-slideDown"
          data-title="Open/Close Section">General Incident Information
          <paneltool class="pull-right">            
              <i ng-show="!imis.panels[0].isOpen" class="icon-plus3 ng-hide"></i>                 
              <i ng-show="imis.panels[0].isOpen" class="icon-minus3"></i>                           
          </paneltool>
      </div>
      <div class="panel-wrapper" bs-collapse-target>
          <div class="panel-body form-group">
            <!-- <div class="col-md-12 pad0 alert alert-info">
              {{selected.general}}
            </div> -->
                      
            <div class="form-group col-md-12 col-lg-6">
              <label for="inputType" class="col-md-3 col-lg-3">RtOP #:</label>
              <span class="col-md-8 col-lg-8">NR-1107</span>
            </div>
            
            <div class="form-group col-md-12 col-lg-6">
              <label for="inputType" class="col-md-3 col-lg-3">Client</label>
              <span class="col-md-8 col-lg-8">Client ABC</span> 
            </div>
            
            <div class="form-group col-md-12 col-lg-6">
              <label for="inputType" class="col-md-3 col-lg-3">RtOP Source:</label>
              <span class="col-md-8 col-lg-8">EON</span>
            </div>
            
            <div class="form-group col-md-12 col-lg-6">               
              <label for="inputType" class="col-md-3 col-lg-3">Region :</label>
              <div class="col-md-9 col-lg-9 selector">        
                  <button class="form-control ctm-content btn btn-default btn-border" ng-model="selected.config1.nocregion" data-html="1" 
                  bs-options="r.id as r.text for r in imis.nocregion" bs-select placeholder="Select..." data-caret-html="<span class='icon-chevron-down pull-right'></span>">
                  </button>
              </div>
            </div>
            
            <div class="form-group col-md-12 col-lg-6">
              <label for="inputType" class="col-md-3 col-lg-3">Capability:</label>
              <span class="col-md-8 col-lg-8">EMEA Enterprise</span>
            </div>
            
            <div class="form-group col-md-12 col-lg-6">
              <label for="inputType" class="col-md-3 col-lg-3">RtOP Start Date:</label>
              <span class="col-md-8 col-lg-8">7/23/2014 3:51:00 PM</span>
            </div>
            
            <div class="form-group col-md-12 col-lg-6">
              <label for="inputType" class="col-md-3 col-lg-3">RtOP End Date:</label>
              <span class="col-md-8 col-lg-8">7/23/2014 3:51:00 PM</span>
            </div>
            
            <div class="form-group col-md-12 col-lg-6">                
              <label for="inputType" class="col-md-3 col-lg-3">Resolution Owner :</label>
              <div class="col-md-9 col-lg-9 selector">        
                  <button class="form-control ctm-content btn btn-default btn-border" ng-model="selected.config1.nocregion" data-html="1" 
                  bs-options="r.id as r.text for r in imis.nocregion" bs-select data-caret-html="<span class='icon-chevron-down pull-right'></span>">
                  </button>
              </div>
            </div>
            
            <div class="form-group col-md-12 col-lg-6">
              <label for="inputType" class="col-md-3 col-lg-3">Timezone :</label>
              <div class="col-md-9 col-lg-9 selector">        
                <button class="form-control ctm-content btn btn-default btn-border" class="form-control" ng-model="selected.Timezone" data-html="1" 
                bs-options="tz.abbr as tz.text for tz in imis.timezones" bs-select data-caret-html="<span class='icon-chevron-down pull-right'></span>">
                </button>
              </div>
            </div>    

          </div>
                      
      </div>    
  </div>

  <div class="panel panel-default">
      <div class="panel-heading" 
          ng-click="imis.panels[1].isOpen = !imis.panels[1].isOpen" 
          class="ng-scope" 
          bs-collapse-toggle 
          bs-tooltip 
          data-trigger="hover" 
          data-type="success" 
          data-animation="am-slideDown"
          data-title="Open/Close Section">Additional Ticket Information
         <paneltool class="pull-right">
            <i ng-show="!imis.panels[1].isOpen" class="icon-plus3 ng-hide"></i>                 
            <i ng-show="imis.panels[1].isOpen" class="icon-minus3"></i>               
        </paneltool>
      </div>      
      <div class="panel-wrapper" bs-collapse-target>
         <div class="panel-body form-group">
            <!-- <div class="col-md-12 pad0 alert alert-info">
              {{selected.keytimes}}
            </div> -->
            
              <div class="form-group col-md-12 col-lg-12">
                <div class="col-md-6 col-lg-6">
                <label for="inputType" class="col-md-3 col-lg-3">Incident Ticket # :</label>
                <div class="col-md-7 col-lg-8">        
                  <input type="text" ng-model="selected.config1.devicename" class="form-control" required>
                </div>
                </div>
              </div>

              <div class="form-group col-md-6 col-lg-6">
                <label for="inputType" class="col-md-3 col-lg-3">Start :</label>
                <div class="col-md-5 col-lg-9">
                      <div class="col-md-12">   
                      <my-date-time-picker input-time="selected.keytimes.alertreceived" class="input-group datetimepicker-date"></my-date-time-picker>
                      </div>
                </div>
              </div>

              <div class="form-group col-md-6 col-lg-6">
                <label for="inputType" class="col-md-3 col-lg-3">End :</label>
                <div class="col-md-5 col-lg-9">
                      <div class="col-md-12">   
                      <my-date-time-picker input-time="selected.keytimes.declared" class="input-group datetimepicker-date"></my-date-time-picker>
                      </div>
                </div>
              </div>

              <div class="panel-action text-center">
                <button class="btn btn-primary btn-hp btn-sm" ng-disabled="config1Form.$invalid" ng-click="addconfig1()">Add</button>
              </div>     

              <div class="panel-table text-center">        
                <div class="gridStyle imclconfig1" style="height:200px;" ng-grid="grid1"></div>        
              </div>
                          

            <div class="col-md-12 pad0">              
            
              <div class="col-md-6 col-lg-6">                
              <label for="inputType" class="col-md-3 col-lg-3">Associated Ticket Type</label>
              <div class="col-md-9 selector">        
                  <button class="form-control ctm-content btn btn-default btn-border" ng-model="selected.config1.nocregion" data-html="1" 
                  bs-options="r.id as r.text for r in imis.nocregion" bs-select data-caret-html="<span class='icon-chevron-down pull-right'></span>">
                  </button>
              </div>
              </div>

              <div class="col-md-6 col-lg-6"> 
              <label for="inputType" class="col-md-3">Ticket # :</label>
              <div class="col-md-9">        
                <input type="text" ng-model="selected.config1.devicename" class="form-control" required>
              </div>
              </div>

              <div class="panel-action text-center">
                <button class="btn btn-primary btn-hp btn-sm" ng-disabled="config1Form.$invalid" ng-click="addconfig1()">Add</button>
              </div>  

              <div class="panel-table text-center">        
                <div class="gridStyle imclconfig1" style="height:200px;" ng-grid="grid2"></div>        
              </div>              

            </div>

            <div class="col-md-12 pad0">
              
              
              <div class="col-md-6">              
              <label for="inputType" class="col-md-3">Supplier</label>
              <div class="col-md-9 selector">        
                  <button class="form-control ctm-content btn btn-default btn-border" ng-model="selected.config1.nocregion" data-html="1" 
                  bs-options="r.id as r.text for r in imis.nocregion" bs-select data-caret-html="<span class='icon-chevron-down pull-right'></span>">
                  </button>
              </div>
              </div>
               
              <div class="col-md-6">
              <label for="inputType" class="col-md-3">Supplier Ticket # :</label>
              <div class="col-md-9">        
                <input type="text" ng-model="selected.config1.devicename" class="form-control" required>
              </div>
              </div>
              

              <div class="checkboxes col-md-12 pad0">
                <label class="col-md-4"><input checked ng-model="selected.config1.ci" type="checkbox"><span>Send Carrier RFO</span></label>
                <label class="col-md-4"><input checked ng-model="selected.config1.ci" type="checkbox"><span>Send Hardware RFO</span></label>
              </div>

              <div class="panel-action text-center">
                <button class="btn btn-primary btn-hp btn-sm" ng-disabled="config1Form.$invalid" ng-click="addconfig1()">Add</button>
              </div>                              

              <div class="panel-table text-center">        
                <div class="gridStyle imclconfig1" style="height:200px;" ng-grid="grid3"></div>        
              </div>

              <div class="col-md-6">
              <label for="inputType" class="col-md-3">Impact Start :</label>
              <div class="col-md-8">
                    <div class="col-md-12">   
                    <my-date-time-picker input-time="selected.keytimes.alertreceived" class="input-group datetimepicker-date"></my-date-time-picker>
                    </div>
              </div>
              </div>  

              <div class="col-md-6">
              <label for="inputType" class="col-md-3">Impact End :</label>
              <div class="col-md-8">
                    <div class="col-md-12">   
                    <my-date-time-picker input-time="selected.keytimes.declared" class="input-group datetimepicker-date"></my-date-time-picker>
                    </div>
              </div>
              </div>
              
              <div class="col-md-6">
              <label for="inputType" class="col-md-3">Actual Client Impacted Duration :</label>
              <div class="col-md-5">        
                <input type="text" ng-model="selected.config1.devicename" class="form-control" required>
              </div>
              </div>
              </div>


            </div>

         </div>
      </div>
  

  <div class="panel panel-default">
      <div class="panel-heading"
          ng-click="imis.panels[2].isOpen = !imis.panels[2].isOpen" 
          class="ng-scope" 
          bs-collapse-toggle 
          bs-tooltip 
          data-trigger="hover" 
          data-type="success" 
          data-animation="am-slideDown"
          data-title="Open/Close Section">Incident Management Activities
         <paneltool class="pull-right">
            <i ng-show="!imis.panels[2].isOpen" class="icon-plus3 ng-hide"></i>                 
            <i ng-show="imis.panels[2].isOpen" class="icon-minus3"></i>
        </paneltool>
      </div>
      <div class="panel-wrapper" bs-collapse-target>
        <div class="panel-body form-group">        
          <!-- <div class="col-md-12 pad0 alert alert-info">
            {{selected.config1}}
          </div> -->

          <form name="config1Form">
            <div class="col-md-12 pad0">
              
              <div class="col-md-6">
              <label for="inputType" class="col-md-4">Incide Timeline :</label>
              <div class="col-md-8">
                    <div class="col-md-12">   
                    <my-date-time-picker input-time="selected.keytimes.declared" class="input-group datetimepicker-date"></my-date-time-picker>
                    </div>
              </div>
              </div>
          
              <div class="col-md-12 pad0">
              <div class="col-md-12">
                <label for="inputType" class="col-md-2 col-lg-2">Activities :</label>
                <div class="col-md-10 col-lg-10">        
                    <textarea class="form-control" ng-model="selected.config1.note" rows="5"></textarea>
                </div>
              </div>
              </div>

            </div>

            
          </form>        
        </div>              
        <div class="panel-action text-center">
          <button class="btn btn-primary btn-hp btn-sm" ng-disabled="config1Form.$invalid" ng-click="addconfig1()">Add</button>
        </div>

        <div class="panel-table text-center">        
          <div class="gridStyle imclconfig1" style="height:200px;" ng-grid="grid4"></div>        
        </div>     

      </div>       
  </div>

  <div class="panel panel-default">
      <div class="panel-heading" 
          ng-click="imis.panels[3].isOpen = !imis.panels[3].isOpen" 
          class="ng-scope" 
          bs-collapse-toggle 
          bs-tooltip 
          data-trigger="hover" 
          data-type="success" 
          data-animation="am-slideDown"
          data-title="Open/Close Section">Incident Summary
          <paneltool class="pull-right">
              <i ng-show="!imis.panels[3].isOpen" class="icon-plus3 ng-hide"></i>                 
              <i ng-show="imis.panels[3].isOpen" class="icon-minus3"></i>
          </paneltool>
      </div>   
      <div class="panel-wrapper" bs-collapse-target>
         <div class="panel-body form-group">        
            <!-- <div class="col-md-12 pad0 alert alert-info">
              {{selected.check1}}
            </div> -->                      

            <form name="check1form">
              <div class="col-md-12 pad0">
              <div class="col-md-12">
                <label for="inputType" class="col-md-2 col-lg-2">Summary Description :</label>
                <div class="col-md-10 col-lg-10">        
                    <textarea class="form-control" ng-model="selected.config1.note" rows="5"></textarea>
                </div>
              </div>
              </div>  

              <div class="col-md-12 pad0">
              <div class="col-md-12">
                <label for="inputType" class="col-md-2 col-lg-2">Business Impacts :</label>
                <div class="col-md-10 col-lg-10">        
                    <textarea class="form-control" ng-model="selected.config1.note" rows="5"></textarea>
                </div>
              </div>
              </div>

              <div class="col-md-12 pad0">
              <div class="col-md-12">
                <label for="inputType" class="col-md-2 col-lg-2">Restoration Fix :</label>
                <div class="col-md-10 col-lg-10">        
                    <textarea class="form-control" ng-model="selected.config1.note" rows="5"></textarea>
                </div>
              </div>
              </div>
              
              <div class="col-md-12 pad0">
                <label for="inputType" class="col-md-2 col-lg-2">Prelimary Root Cause Category :</label>
                <div class="col-md-5 selector">                        
                  <button class="form-control ctm-content btn btn-default btn-border" data-multiple="1" ng-model="selectedIcons" data-html="1" bs-options="icon.value as icon.label for icon in icons" 
                  bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
                  data-icon-checkmark="icon-checkmark" all-none-buttons="1">
                  </button>
                </div>             
                <div class="checkboxes col-md-5 col-lg-5">
                  <label class="col-md-12">
                    <input type="checkbox" ng-model="selected.check2.gnoc"><span>Create Detailed RCA</span>
                  </label>
                </div>
              </div>

              <div class="col-md-12 pad0">
              <div class="col-md-12">
                <label for="inputType" class="col-md-2 col-lg-2">Detailed RCA :</label>
                <div class="col-md-10">        
                    <textarea class="form-control" ng-model="selected.config1.note" rows="5"></textarea>
                </div>
              </div>
              </div>

              <div class="col-md-12 pad0">
              <div class="col-md-12">
                <label for="inputType" class="col-md-2 col-lg-2">Root Cause Summary :</label>
                <div class="col-md-10">        
                    <textarea class="form-control" ng-model="selected.config1.note" rows="5"></textarea>
                </div>
              </div>
              </div>

              <div class="col-md-12 pad0">
              <div class="col-md-12">
                <label for="inputType" class="col-md-2 col-lg-2">Post Incident Notes :</label>
                <div class="col-md-10">        
                    <textarea class="form-control" ng-model="selected.config1.note" rows="5"></textarea>
                </div>
              </div>
              </div>

              <div class="col-md-12 pad0">
                <label for="inputType" class="col-md-2 col-lg-2">Incident Management :</label>
                <div class="col-md-5 selector">      
                  <button class="form-control ctm-content btn btn-default btn-border" ng-model="selected.config1.nocregion" data-html="1" 
                  bs-options="r.id as r.text for r in imis.nocregion" bs-select data-caret-html="<span class='icon-chevron-down pull-right'></span>">
                  </button>
                </div>              
                <div class="checkboxes col-md-5 col-lg-5">
                  <label class="col-md-12">
                    <input type="checkbox" ng-model="selected.check2.gnoc"><span>GNIM Enganged</span>
                  </label>
                </div>
              </div>

              <div class="col-md-12 pad0">
                <label for="inputType" class="col-md-2 col-lg-2">PEM :</label>
                <div class="col-md-5">        
                  <input type="text" ng-model="selected.config1.devicename" class="form-control" required>
                </div> 
                <button class="btn btn-primary btn-hp btn-sm" ng-click=""><i class="icon-user2"></i>GAL</button>                           
              </div>

              <div class="col-md-12 pad0">
              <div class="col-md-12">
                <label for="inputType" class="col-md-2 col-lg-2">Vendors and Support Orgs :</label>
                <div class="col-md-10">        
                    <textarea class="form-control" ng-model="selected.config1.note" rows="5"></textarea>
                </div>
              </div>
              </div>
              
            </form>
                
         </div>

      </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading" 
          ng-click="imis.panels[4].isOpen = !imis.panels[4].isOpen" 
          class="ng-scope" 
          bs-collapse-toggle 
          bs-tooltip 
          data-trigger="hover" 
          data-type="success" 
          data-animation="am-slideDown"
          data-title="Open/Close Section">CI Information
          <paneltool class="pull-right">
              <i ng-show="!imis.panels[4].isOpen" class="icon-plus3 ng-hide"></i>                 
              <i ng-show="imis.panels[4].isOpen" class="icon-minus3"></i>
          </paneltool>
      </div>   
      <div class="panel-wrapper" bs-collapse-target>
         <div class="panel-body form-group"> 

            <div class="col-md-12 pad0">
              <label for="inputType" class="col-md-2 col-lg-2">CI Name :</label>
              <div class="col-md-5">        
                <input type="text" ng-model="selected.config1.devicename" class="form-control" required>
              </div>                            
            </div>

            <div class="checkboxes col-md-12 pad0">
              <div class="col-md-8">
                <label class="col-md-3"><input type="radio" ng-model="selected.config1.dedicated" value="0" name="IMtype"><span>Leveraged</span></label>
                <label class="col-md-3"><input type="radio" ng-model="selected.config1.dedicated" value="1" name="IMtype"><span>Dedicated</span></label>
                <label class="col-md-3"><input checked ng-model="selected.config1.ci" type="checkbox"><span>CI in CMDB</span></label> 
                <label class="col-md-3"><input checked ng-model="selected.config1.ci" type="checkbox"><span>Assoc to Root Cause</span></label>                
              </div>                  
            </div>

            <div class="col-md-12">                
              <label for="inputType" class="col-md-2 col-lg-2">CI Type :</label>
              <div class="col-md-5 selector">        
                  <button class="form-control ctm-content btn btn-default btn-border" ng-model="selected.config1.nocregion" data-html="1" 
                  bs-options="r.id as r.text for r in imis.nocregion" bs-select data-caret-html="<span class='icon-chevron-down pull-right'></span>">
                  </button>
              </div>
            </div>

            <div class="col-md-12 pad0">
              <label for="inputType" class="col-md-2 col-lg-2">Model # :</label>
              <div class="col-md-5">        
                <input type="text" ng-model="selected.config1.devicename" class="form-control" required>
              </div>                            
            </div>

            <div class="col-md-12">                
              <label for="inputType" class="col-md-2 col-lg-2">Vendor :</label>
              <div class="col-md-5 selector">        
                  <button class="form-control ctm-content btn btn-default btn-border" ng-model="selected.config1.nocregion" data-html="1" 
                  bs-options="r.id as r.text for r in imis.nocregion" bs-select data-caret-html="<span class='icon-chevron-down pull-right'></span>">
                  </button>
              </div>
            </div>

            <div class="col-md-12">                
              <label for="inputType" class="col-md-2 col-lg-2">NOC Region :</label>
              <div class="col-md-5 selector">        
                  <button class="form-control ctm-content btn btn-default btn-border" ng-model="selected.config1.nocregion" data-html="1" 
                  bs-options="r.id as r.text for r in imis.nocregion" bs-select data-caret-html="<span class='icon-chevron-down pull-right'></span>">
                  </button>
              </div>
            </div>

            <div class="col-md-12">                
              <label for="inputType" class="col-md-2 col-lg-2">NOC Responsible :</label>
              <div class="col-md-5 selector">        
                  <button class="form-control ctm-content btn btn-default btn-border" ng-model="selected.config1.nocregion" data-html="1" 
                  bs-options="r.id as r.text for r in imis.nocregion" bs-select data-caret-html="<span class='icon-chevron-down pull-right'></span>">
                  </button>
              </div>
            </div>

            <div class="col-md-12">                
              <label for="inputType" class="col-md-2 col-lg-2">Responsible Party :</label>
              <div class="col-md-5 selector">        
                  <button class="form-control ctm-content btn btn-default btn-border" ng-model="selected.config1.nocregion" data-html="1" 
                  bs-options="r.id as r.text for r in imis.nocregion" bs-select data-caret-html="<span class='icon-chevron-down pull-right'></span>">
                  </button>
              </div>
            </div>


         </div>
      </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading" 
          ng-click="imis.panels[7].isOpen = !imis.panels[7].isOpen" 
          class="ng-scope" 
          bs-collapse-toggle 
          bs-tooltip 
          data-trigger="hover" 
          data-type="success" 
          data-animation="am-slideDown"
          data-title="Open/Close Section">Action Items
        <paneltool class="pull-right">
            <i ng-show="!imis.panels[7].isOpen" class="icon-plus3 ng-hide"></i>                 
            <i ng-show="imis.panels[7].isOpen" class="icon-minus3"></i>
        </paneltool>
      </div>   
      <div class="panel-wrapper" bs-collapse-target>
        <div class="panel-body form-group"> 
            <form name="actionplanForm">
              <div class="form-group col-md-12 col-lg-12">
                <label for="inputType" class="col-md-4 col-lg-2">Description :</label>
                <div class="col-md-8 col-lg-10">        
                  <textarea class="form-control" ng-model="selected.actionplans.description" rows="5"></textarea>
                </div>
              </div> 

              <div class="form-group col-md-12 col-lg-12">
                <label for="inputType" class="col-md-4 col-lg-2">Benefits/Expectation :</label>
                <div class="col-md-8 col-lg-10">        
                  <textarea class="form-control" ng-model="selected.actionplans.expectation" rows="5"></textarea>
                </div>
              </div> 

              <div class="form-group col-md-12 col-lg-12">
                <label for="inputType" class="col-md-3 col-lg-2">Action Status :</label>
                <div class="col-md-8 selector">        
                  <button class="form-control ctm-content btn btn-default btn-border" ng-model="selected.actionplans.actionstatus" data-html="1" 
                  bs-options="as.id as as.text for as in imcl7.actionstatus" bs-select data-caret-html="<span class='icon-chevron-down pull-right'></span>">
                  </button>
                </div>
              </div>

              <div class="form-group col-md-12 col-lg-12">
                <label for="inputType" class="col-md-4 col-lg-2">Target Date &amp; Time :</label>
                <div class="col-md-8">
                  <div class="col-md-12">   
                      <my-date-time-picker input-time="selected.actionplans.targetdatetime" class="input-group datetimepicker-date"></my-date-time-picker>
                  </div>
                </div>
              </div>

              <div class="form-group col-md-12 col-lg-12">
                <label for="inputType" class="col-md-4 col-lg-2">Action Owner :</label>
                <div class="col-md-8">        
                    <input type="text" ng-model="selected.actionplans.name" class="form-control" required>
                </div>
              </div>

              <div class="form-group col-md-12 col-lg-12">
                <label for="inputType" class="col-md-4 col-lg-2">Completion Date :</label>
                <div class="col-md-8">
                  <div class="col-md-12">   
                      <my-date-time-picker input-time="selected.actionplans.completiondatetime" class="input-group datetimepicker-date"></my-date-time-picker>
                  </div>
                </div>
              </div>
            </form>
            <div class="col-md-12 pad0 text-center">
              <button class="btn btn-primary btn-hp btn-sm" ng-disabled="actionplanForm.$invalid" ng-click="addactionplan()">Add</button>
            </div>           
        </div>
        <div class="panel-table text-center">
          <div class="gridStyle imclconfig1" style="height:200px;" ng-grid="grid5"></div>
        </div>
        <div class="panel-body form-group">
          <div class="col-md-12 pad0 text-center">
            <button class="btn btn-primary btn-hp btn-sm" ng-click="savechecklist()">Save Incident</button>
          </div>  
        </div>
      </div>
  </div>

</div>