<div class="row ctr-header" ng-init="getCurrentSubmenu()">
  <div class="col-xs-12">
    <label>{{currentSubmenuName}}</label>
  </div>
</div>
<div>
  <div class="form-seperator-top"></div>
    <div class="row form-inline"> 
      <div class="col-sm-12 ctr-filter">
        <div class="form-group">
          <button container=".ctr-filter" class="btn btn-filter" ng-click="moreaction = !moreaction" bs-dropdown="exports" data-html="true">
              More Action<i class="icon-chevron-down icon-blue"></i>
          </button>                   
            <button container=".ctr-filter" 
            class="btn btn-filter" 
            ng-click="sectionselector = !sectionselector" 
            bs-dropdown 
            data-html="true"
            data-toggle="dropdown"
            data-template="sectionselect-dropdown-template-rfo"
            >Select Section<i class="marR6 icon-chevron-down  icon-blue "></i>
            </button>     

            <script type="text/ng-template" id="sectionselect-dropdown-template-rfo">
            <ul class="dropdown-menu col-md-4">
                <div class="top-ctrl col-md-12">
                  <button class="btn col-md-6 btn-filter" ng-click="expandall()">
                    Expand All
                    <i class="marR6 icon-expand2"></i>
                  </button>
                  <button class="btn col-md-6 btn-filter noB" ng-click="collapseall()">
                    Collapse All
                    <i class="marR6 icon-contract"></i>
                  </button>
                </div>
                <div class="seperator col-md-12"></div>
                <div class="mid-ctrl col-md-12 pad0">
                  <ul class="col-md-6">
                    <li class="marB5 col-md-12" ng-click="selectpanel($index)" ng-repeat="panel in rfo.panels" ng-if="$even">{{panel.name}}</li>
                  </ul>
                  <ul class="col-md-6">
                    <li class="marB5 col-md-12" ng-click="selectpanel($index)" ng-repeat="panel in rfo.panels" ng-if="$odd">{{panel.name}}</li>
                  </ul>
                </div>                              
            </ul>
            </script>
          
        </div>                
        
      </div>
    </div>
  <div class="form-seperator-bottom"></div>
</div>

<div class="panel-group" ng-model="panels.activePanels" data-allow-multiple="true" role="tablist" aria-multiselectable="true" bs-collapse>

  <div class="panel panel-default">
      <div class="panel-heading" 
          ng-click="rfo.panels[0].isOpen = !rfo.panels[0].isOpen" 
          class="ng-scope" 
          bs-collapse-toggle 
          bs-tooltip 
          data-trigger="hover" 
          data-type="success" 
          data-animation="am-slideDown"
          data-title="Open/Close Section">Completed By HPES
          <paneltool class="pull-right">            
              <i ng-show="!rfo.panels[0].isOpen" class="icon-plus3 ng-hide"></i>                 
              <i ng-show="rfo.panels[0].isOpen" class="icon-minus3"></i>                           
          </paneltool>
      </div>
      <div class="panel-wrapper" bs-collapse-target>
          <div class="panel-body form-group">
            <!-- <div class="col-md-12 pad0 alert alert-info">
              {{selected.general}}
            </div> -->
                      
            <div class="form-group col-md-12 col-lg-6">
              <label for="inputType" class="col-md-3 col-lg-3">Carrier Ticket #:</label>
              <span class="col-md-8 col-lg-8">6289992</span>
            </div>
            
            <div class="form-group col-md-12 col-lg-6">
              <label for="inputType" class="col-md-3 col-lg-3">CKID:</label>
              <span class="col-md-8 col-lg-8"></span> 
            </div>
            
            <div class="form-group col-md-12 col-lg-6">
              <label for="inputType" class="col-md-3 col-lg-3">HPES Ticket #:</label>
              <span class="col-md-8 col-lg-8">100-02-10978967</span>
            </div>
            
            <div class="form-group col-md-12 col-lg-6">               
              <label for="inputType" class="col-md-3 col-lg-3">HPES RtOP # :</label>
              <span class="col-md-8 col-lg-8">36609</span>
            </div>
            
            <div class="form-group col-md-12 col-lg-6">
              <label for="inputType" class="col-md-3 col-lg-3">Client:</label>
              <span class="col-md-8 col-lg-8">Client EDS</span>
            </div>
            
            <div class="form-group col-md-12 col-lg-6">
              <label for="inputType" class="col-md-3 col-lg-3">Location:</label>
              <span class="col-md-8 col-lg-8"></span>
            </div>
            
            <div class="form-group col-md-12 col-lg-6">
              <label for="inputType" class="col-md-3 col-lg-3">HPES Device Name:</label>
              <span class="col-md-8 col-lg-8"></span>
            </div>                      

          </div>
                      
      </div>    
  </div>

  <div class="panel panel-default">
      <div class="panel-heading" 
          ng-click="rfo.panels[0].isOpen = !rfo.panels[0].isOpen" 
          class="ng-scope" 
          bs-collapse-toggle 
          bs-tooltip 
          data-trigger="hover" 
          data-type="success" 
          data-animation="am-slideDown"
          data-title="Open/Close Section">Completed By Carrier
          <paneltool class="pull-right">            
              <i ng-show="!rfo.panels[0].isOpen" class="icon-plus3 ng-hide"></i>                 
              <i ng-show="rfo.panels[0].isOpen" class="icon-minus3"></i>                           
          </paneltool>
      </div>
      <div class="panel-wrapper" bs-collapse-target>
          <div class="panel-body form-group">
            <!-- <div class="col-md-12 pad0 alert alert-info">
              {{selected.general}}
            </div> -->
                      
            <div class="form-group col-md-12 col-lg-6">
              <label for="inputType" class="col-md-3 col-lg-3">NEID Type:</label>
              <span class="col-md-8 col-lg-8"></span>
            </div>
            
            <div class="form-group col-md-12 col-lg-6">
              <label for="inputType" class="col-md-3 col-lg-3">Outage Minutes:</label>
              <span class="col-md-8 col-lg-8"></span> 
            </div>
            
            <div class="form-group col-md-12 col-lg-6">
              <label for="inputType" class="col-md-3 col-lg-3">Responsible Owner:</label>
              <span class="col-md-8 col-lg-8"></span>
            </div>
            
            <div class="form-group col-md-12 col-lg-6">               
              <label for="inputType" class="col-md-3 col-lg-3">LEC :</label>
              <span class="col-md-8 col-lg-8"></span>
            </div>
            
            <div class="form-group col-md-12 col-lg-6">
              <label for="inputType" class="col-md-3 col-lg-3">Carrier Device Name:</label>
              <span class="col-md-8 col-lg-8"></span>
            </div>
            
            <div class="form-group col-md-12 col-lg-6">
              <label for="inputType" class="col-md-3 col-lg-3">RFO Status:</label>
              <span class="col-md-8 col-lg-8">Pending</span>
            </div>                                

          </div>
                      
      </div>    
  </div>

  <div class="panel panel-default">
      <div class="panel-heading" 
          ng-click="rfo.panels[0].isOpen = !rfo.panels[0].isOpen" 
          class="ng-scope" 
          bs-collapse-toggle 
          bs-tooltip 
          data-trigger="hover" 
          data-type="success" 
          data-animation="am-slideDown"
          data-title="Open/Close Section">Questionaire Details - Completed By Carrier
          <paneltool class="pull-right">            
              <i ng-show="!rfo.panels[0].isOpen" class="icon-plus3 ng-hide"></i>                 
              <i ng-show="rfo.panels[0].isOpen" class="icon-minus3"></i>                           
          </paneltool>
      </div>
      <div class="panel-wrapper" bs-collapse-target>
          <div class="panel-body form-group">
            <!-- <div class="col-md-12 pad0 alert alert-info">
              {{selected.general}}
            </div> -->
                      
            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Ticket history – Previous 6 mos. (Quantity of tickets) :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div>
            
            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Does the circuit have chronic issues? :</label>
              <span class="col-md-6 col-lg-6"></span> 
            </div>
            
            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Has the HPES chronic process been initiated for this circuit? :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div>
            
            <div class="form-group col-md-12 col-lg-12">               
              <label for="inputType" class="col-md-6 col-lg-6">Is the Circuit/Device monitored by the Carrier? :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div>
            
            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Was monitoring by Carrier effective?:</label>
              <span class="col-md-6 col-lg-6"></span>
            </div>
            
            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Is the Circuit/Device monitored by the PTT/LEC?:</label>
              <span class="col-md-6 col-lg-6"></span>
            </div>  

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Was monitoring by PTT/LEC effective? :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div>  

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Time to problem isolation by Carrier? Time from ticket open until routed to resolution group - internal or external LEC/PTT/IXC) :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div> 

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Time to dispatch to internal work group? :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div> 

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Time from Carrier dispatch to clear? :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div> 

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Time to problem isolation by LEC/PTT/IXC? (time from ticket open until routed to resolution group - internal or external (LEC/PTT/IXC) :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div> 

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Time to dispatch of LEC/PTT/IXC? :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div> 

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Time from LEC/PTT/IXC dispatch to clear? :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div>

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Site contact issues. :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div> 

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Site contact length of delay. :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div> 

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Site access issues. :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div> 

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Site access length of delay. :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div> 

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Backup solution availability and execution (e.g. protection switching, ISDN, etc.) :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div> 

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Backup solution Executed? :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div> 

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Backup solution Successful? :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div> 

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Re-routing evaluation conducted? :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div> 

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Re-routing successful? :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div> 

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Was the outage a result of a scheduled network change? :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div> 

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">What is the RFC number? :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div>

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Who at HPES was notified of this change? :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div> 

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">What was the outage resolution? :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div> 

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">What is the root cause of the incident? :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div> 

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Review of process breakdowns (any party, including HPES) :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div> 

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">placeholder :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div> 

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">placeholder :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div> 

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Follow up actions or escalations to resolve process breakdowns, failed backup execution, poor performance (network or human), or recommendations for improved availability  :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div> 

            <div class="form-group col-md-12 col-lg-12">
              <label for="inputType" class="col-md-6 col-lg-6">Preventive action taken (what was done to prevent future outages)  :</label>
              <span class="col-md-6 col-lg-6"></span>
            </div>                                             

          </div>
                      
      </div>    
  </div>

  <div class="panel panel-default">
      <div class="panel-heading"
          ng-click="rfo.panels[2].isOpen = !rfo.panels[2].isOpen" 
          class="ng-scope" 
          bs-collapse-toggle 
          bs-tooltip 
          data-trigger="hover" 
          data-type="success" 
          data-animation="am-slideDown"
          data-title="Open/Close Section">Completed by HPES Governance Team
         <paneltool class="pull-right">
            <i ng-show="!rfo.panels[2].isOpen" class="icon-plus3 ng-hide"></i>                 
            <i ng-show="rfo.panels[2].isOpen" class="icon-minus3"></i>
        </paneltool>
      </div>
      <div class="panel-wrapper" bs-collapse-target>
        <div class="panel-body form-group">        
          <!-- <div class="col-md-12 pad0 alert alert-info">
            {{selected.config1}}
          </div> -->

          <form name="config1Form">
            <div class="col-md-12 pad0">
              
              <div class="col-md-6">
              <label for="inputType" class="col-md-4">Incide Timeline :</label>
              <div class="col-md-8">
                    <div class="col-md-12">   
                    <my-date-time-picker input-time="selected.keytimes.declared" class="input-group datetimepicker-date"></my-date-time-picker>
                    </div>
              </div>
              </div>
          
              <div class="col-md-12 pad0">
              <div class="col-md-12">
                <label for="inputType" class="col-md-2 col-lg-2">Activities :</label>
                <div class="col-md-10 col-lg-10">        
                    <textarea class="form-control" ng-model="selected.config1.note" rows="5"></textarea>
                </div>
              </div>
              </div>

            </div>

            
          </form>        
        </div>              
        <div class="panel-action text-center">
          <button class="btn btn-primary btn-hp btn-sm" ng-disabled="config1Form.$invalid" ng-click="addconfig1()">Add</button>
        </div>

        <div class="panel-table text-center">        
          <div class="gridStyle imclconfig1" style="height:200px;" ng-grid="grid4"></div>        
        </div>     

      </div>       
  </div>

  

</div>