<div class="submenu-header"><label><i class="marR5 icon-blue"></i>{{currentSubmenuName}}</label></div>
<div class="top-content" ng-init="getCurrentSubmenu(currentMenu)">

<h1>{{pagename}}</h1>
<h3>{{message}}</h3>
<h5>asdasdasd : Static</h5>
</div>