<!-- <ul class="nav nav-tabs main-page-sub" ng-init="isSubmenu2()">     
  <li role="presentation" ng-class="isTabActive('{{submenu.tabName}}')" class="{{submenu.divider}}" ng-repeat="submenu in submenulist">
    <a data-ui-sref="{{submenu.tabName}}"><i class="{{submenu.icon}}"></i>
      <span class="menu-span">{{submenu.name}}</span></a>
    </li>
  </ul>
  <h1>{{title3}}:{{title2}}</h1> -->
<div ng-include src="'views/nav/service.html'" ng-init="getMainMenu(localize.service_state)"></div>
<div data-ui-view="submenuContent"></div>