<div class="row ctr-header" ng-init="getCurrentSubmenu()">
  <div class="col-xs-12">
    <label>{{currentSubmenuName}} :WIP:</label>
  </div>
</div>

<!-- <div ng-show="showOriginal" ng-class="showHorizontalCss ? 'col-sm-6':''"> -->

  <div incident-filter-bar></div>

  <div class="" ng-show="tablefilter">
    <div class="row">
        <div class="col-sm-5 col-md-2 col-lg-2 col-lgf-1 col-h">
          <label>Agenda Date:</label>
        </div>
        <div class="col-sm-7 col-md-4 col-lg-4 col-lgf-3 col-h">
          <div class="selector ctr-height">
            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" data-placeholder="Select An Item" 
            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
            </button>
          </div>
        </div>
        <div class="col-sm-5 col-md-2 col-lg-2 col-lgf-1 col-h">
          <label>Clients:</label>
        </div>
        <div class="col-sm-7 col-md-4 col-lg-4 col-lgf-3 col-h">
          <div class="selector ctr-height">
            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
            </button>
          </div>
        </div>
        <div class="col-sm-5 col-md-2 col-lg-2 col-lgf-1 col-h">
          <label>Plant Type:</label>
        </div>
        <div class="col-sm-7 col-md-4 col-lg-4 col-lgf-3 col-h">
          <div class="selector ctr-height">
            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
            </button>
          </div>
        </div>
        <div class="col-sm-5 col-md-2 col-lg-2 col-lgf-1 col-h">
          <label>Segment:</label>
        </div>
        <div class="col-sm-7 col-md-4 col-lg-4 col-lgf-3 col-h">
          <div class="selector ctr-height">
            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
            </button>
          </div>
          </button>
        </div>
        <div class="col-sm-5 col-md-2 col-lg-2 col-lgf-1 col-h">
          <label>Region:</label>
        </div>
        <div class="col-sm-7 col-md-4 col-lg-4 col-lgf-3 col-h">
          <div class="selector ctr-height">
            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
            </button>
          </div>
        </div>
        <div class="col-sm-5 col-md-2 col-lg-2 col-lgf-1 col-h">
          <label>Alert Owner:</label>
        </div>
        <div class="col-sm-7 col-md-4 col-lg-4 col-lgf-3 col-h">
          <div class="selector ctr-height">
            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
            </button>
          </div>
        </div>
        <div class="col-sm-5 col-md-2 col-lg-2 col-lgf-1 col-h">
          <label>Overall Rating:</label>
        </div>
        <div class="col-sm-7 col-md-4 col-lg-4 col-lgf-3 col-h">
          <div class="selector ctr-height">
            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
            </button>
          </div>
        </div>
        <div class="col-sm-5 col-md-2 col-lg-2 col-lgf-1 col-h">
          <label>Segment Rating:</label>
        </div>
        <div class="col-sm-7 col-md-4 col-lg-4 col-lgf-3 col-h">
          <div class="selector ctr-height">
            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
            </button>
          </div>
        </div>
        <!-- <div class="col-sm-5 col-md-2 col-lg-2 col-lgf-1 col-h">
          <label>Account Status:</label>
        </div>
        <div class="col-sm-7 col-md-4 col-lg-4 col-lgf-3 col-h">
          <div class="selector ctr-height">
            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
            </button>
          </div>
        </div> -->

        <div class="col-sm-4">
          <button data-template="template/select/default-select.html"  ng-click="getRtop(startdate,enddate)" class="btn-hp btn-primary">
            Search
          </button>
        </div>
    </div>
    <div class="row form-seperator"></div>
  </div>

  <div class="" ng-show="tableEmail">
    <div ng-include src="'views/modal/email.html'"></div>
    <div class="row form-seperator"></div>
  </div>

  <div class="row" ng-show="showcontent">

    <div class="col-xs-5 col-sm-4 col-lg-3">
      <button type="button" class="btn-hp btn-primary marginB" ng-model="selectedrtopColumns" data-template="template/select/incident-rtop_view_by.html" 
      data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="RtOP.value as RtOP.label for RtOP in rtopColumns" 
      bs-select placeholder="View By" data-icon-checkmark="icon-checkmark" max-length-html="View By">
      </button>
    </div>
    <div class="col-xs-7 col-sm-offset-2 col-sm-6 col-md-offset-3 col-md-5 col-lg-offset-5 col-lg-4">
      <div class="input-group">
        <span class="input-group-addon"><i class='icon-search'></i></span>
        <input class="form-control" placeholder="Search for..." type="text" ng-model="filterOptions.filterText" />
      </div>
    </div>
    
  </div>

  <div class="row ctr-grid" ng-show="showcontent">
      <div class="sub-content col-xs-12">
        <div class="gridStyle" ng-grid="gridOptions"></div>
      </div>
  </div>

<!-- </div> -->

<div ng-show="showHorizontal" data-ui-view="contentHorizontal" ng-class="showHorizontalCss ? 'col-sm-6':''">
</div>
<div ng-show="showVertical" data-ui-view="contentVertical">
</div>
<div ng-show="showDefault" data-ui-view="contentDefault">
</div>
     
