<div class="row ctr-header" ng-init="getCurrentSubmenu()">
  <div class="col-xs-12">
    <label>{{currentSubmenuName}}</label>
  </div>
</div>

<div class="">
    <div class="row form-seperator"></div>
    <div class="row">
        <div class="col-sm-5 col-md-2 col-lg-2 col-lgf-1 col-h">
          <label>Clients:</label>
        </div>
        <div class="col-sm-7 col-md-4 col-lg-4 col-lgf-3 col-h">
          <div class="selector ctr-height">
            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
            </button>
          </div>
        </div>
        <div class="col-sm-5 col-md-2 col-lg-2 col-lgf-1 col-h">
          <label>Overall Rating:</label>
        </div>
        <div class="col-sm-7 col-md-4 col-lg-4 col-lgf-3 col-h">
          <div class="selector ctr-height">
            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
            </button>
          </div>
        </div>
        <div class="col-sm-5 col-md-2 col-lg-2 col-lgf-1 col-h">
          <label>Segment Group:</label>
        </div>
        <div class="col-sm-7 col-md-4 col-lg-4 col-lgf-3 col-h">
          <div class="selector ctr-height">
            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
            </button>
          </div>
          </button>
        </div>
        <div class="col-sm-5 col-md-2 col-lg-2 col-lgf-1 col-h">
          <label>Effective Date:</label>
        </div>
        <div class="col-sm-7 col-md-4 col-lg-4 col-lgf-3 col-h">
          <div class="input-group" >
             <input type="text" class="form-control" ng-model="fromDate" data-max-date="{{untilDate}}" placeholder="From" bs-datepicker 
             data-bs-show="dpd1.show">
             <span class='input-group-addon' tabindex="0"  ng-blur="dpd1.show=false" ng-focus="dpd1.show=true"><i class='icon-calendar'></i></span>
          </div>
        </div>
        <div class="col-sm-5 col-md-2 col-lg-2 col-lgf-1 col-h">
          <label>Bussiness Unit:</label>
        </div>
        <div class="col-sm-7 col-md-4 col-lg-4 col-lgf-3 col-h">
          <div class="selector ctr-height">
            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
            </button>
          </div>
        </div>
        <div class="col-sm-5 col-md-2 col-lg-2 col-lgf-1 col-h">
          <label>Segment Name:</label>
        </div>
        <div class="col-sm-7 col-md-4 col-lg-4 col-lgf-3 col-h">
          <div class="selector ctr-height">
            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
            </button>
          </div>
        </div>
        <div class="col-sm-5 col-md-2 col-lg-2 col-lgf-1 col-h">
          <label>Inductry Group:</label>
        </div>
        <div class="col-sm-7 col-md-4 col-lg-4 col-lgf-3 col-h">
          <div class="selector ctr-height">
            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
            </button>
          </div>
        </div>
        <div class="col-sm-5 col-md-2 col-lg-2 col-lgf-1 col-h">
          <label>Segment Rating:</label>
        </div>
        <div class="col-sm-7 col-md-4 col-lg-4 col-lgf-3 col-h">
          <div class="selector ctr-height">
            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
            </button>
          </div>
        </div>
        <div class="col-sm-5 col-md-2 col-lg-2 col-lgf-1 col-h">
          <label>Symptom:</label>
        </div>
        <div class="col-sm-7 col-md-4 col-lg-4 col-lgf-3 col-h">
          <div class="selector ctr-height">
            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
            </button>
          </div>
        </div>
        <div class="col-sm-5 col-md-2 col-lg-2 col-lgf-1 col-h">
          <label>Sub Sympton:</label>
        </div>
        <div class="col-sm-7 col-md-4 col-lg-4 col-lgf-3 col-h">
          <div class="selector ctr-height">
            <button data-template="template/select/default-select.html"  class="form-control ctm-content btn btn-default btn-border" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" 
            bs-select data-caret-html="<span class='icon-chevron-down pull-right icon-blue'></span>" 
            data-icon-checkmark="icon-checkmark" all-none-buttons="1">
            </button>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-lgf-1 col-h">
        <label>Comment:</label>
      </div>
      <div class="col-lg-10 col-lgf-11 col-h">
        <div class="selector ctr-height">
          <textarea class="form-control"> 
          </textarea>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
          <button data-template="template/select/default-select.html"  ng-click="getRtop(startdate,enddate)" class="btn-hp btn-primary pull-right">
          Save
          </button>
        </div>
        <div class="col-xs-6">
          <button data-template="template/select/default-select.html"  ng-click="getRtop(startdate,enddate)" class="btn-hp btn-primary">
          Cancel
          </button>
        </div>
      </div>
    <div class="row form-seperator"></div>
</div>
