<div class="wrapper">
	<div nav-main></div>

	<section ng-class="miniMenu ? 'sidebar-mini' : '' ">
		<div class="pageinfo">
			<div id="navbar" class="navbar-collapse sub-header">
				<label class="nav navbar-submenu navbar-left"><i class="marR5 icon-blue {{iconCurrentMenu}}"></i>{{currentMenu}}</label>
				<div class="row" ng-include src="'views/partial/user-layout.html'"></div>
			</div>
		</div>
		<div data-ui-view="subContent" class="placeholders"></div>
	</section>
</div>