<!-- <div class="jumbotron">
	<h1>Title : {{title3}}</h1>
	<h1>Title : {{title2}}</h1>
	<p class="lead">
		AngularJS + RequireJS: The Proper and Easier Way
	</p>
	<a data-ui-sref="dashboard">dashboard</a>
</div>
-->
<style>
div.container-fluid .sidebar {display: none;}
/*div.container-fluid.header-top {display: none;}*/
div #navbar.sub-header {display: none !important;}
.main {margin-left: 0; }
.main .page-header-container { background-color:#0096d6; width: 100%; top:0px;z-index: 1; position: fixed; padding:0 30px; }
.main .nav.nav-tabs.nav-tabs-simple {color: #fff; }
/*	.navbar.navbar-fixed-top{ border: 1px solid #000;}*/
.main .bground {padding:0px;}
.main .bground img {padding:0px;z-index:-1;position:fixed;}
.main .placeholders {padding:0px;}
.main .box {margin-left: auto; margin-right: auto; width: 60%;}
.main .textbox {height: 200px; width: 500px; background: #000;opacity: 0.8; border-radius: 4px;  position: relative;top: 250px; margin-right: 400px; padding :30px; color:#fff; box-shadow: 1px 1px 10px #000;}
.main .loginbox {height: 250px; width: 300px; background: #dfdfdf;border-radius: 4px;  position: relative; margin-left: auto; padding :20px; color:#000;box-shadow: 1px 1px 10px #000; border:1px solid #fff;  }
.main .container { background-color:#dfdfdf ;width: 100%; height:100%; padding: 50px; position: relative; bottom: 0px; display: block; margin-top: 400px; text-align: center; }
.main h1.title {width: 100%;text-align:left; border-radius: 0px; height: auto; background: none; padding: 0 16%;}
.main .btn-web {background-color: #F8A426; color: #fff; border-radius: 0 3px !important;}
h2 {font-size: 18px;color: #0095d5;}
h3 {font-size: 15px}
a {color: #fff}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {border-bottom-color: #FFB048 !important; border-bottom-width: 3px; background-color: #0096D6; border-left: none; border-right: none; border-top:none; color: #fff;}
.main .product { width: 340px; height: 500px; position:relative; padding: 20px ; background: #fff ; border-radius: 500px 500px 4px 4px; display: inline-block; margin: 10px 30px;}
.main .footer {background-color: #808080; height:100px; font-size: 11px;color: #fff; text-align: center;bottom: 0px; padding-top:30px;}
.toggle-navigation {display: none;}
.nav .toggle-left {
	display: none;
}
.placeholder {
	margin-bottom: 0px;
}
.placeholder img {display: inline-block; border-radius: none;}
</style>

<div class="container-fluid">
	<div class="row">
		<div class="main" style="padding:0px;">
			<div class="placeholder">

				<!-- <nav data-nav-menu="" class="navbar navbar-fixed-top">
					<div class="container-fluid header-top">
						<div class="navbar-header clearfix">    
							<div class="logo">
								<i class="icon-logohp-grey"></i>
								<a class="navbar-brand" href="#">ZOOM a</a>    
							</div>
						</div>
					</div>
					<div class="page-header-container">
						<ul class="nav nav-tabs nav-tabs-simple">
							<li class="home active"><a href="#login-container"><i class="icon-home"></i></a></li>
						</ul>
					</div>
				</nav> -->

				<div class="topnavbar-wrapper" >
					<div class="container-fluid header-top">
						<div class="navbar-header">    
							<div class="logo">
								<i class="icon-logohp-grey"></i>
								<a class="navbar-brand" data-ui-sref="dashboard" href="#">ZOOM</a>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>	


				<div class="bground">
					<img src="images/bground.jpg" width="100%" height="100%">

					<div class="box">
						<div class="textbox"> <h1><b>Welcome to ZOOM!</b></h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation  anim id est laborum.</p>
						</div>

						<div class="loginbox">
							<h2>Login Now!</h2>
							<a data-ui-sref="dashboard" class="btn btn-web">HP Employee Login</a>
							<h3>Or Request Access…</h3>
							<a href="#" class="btn btn-web">Request Access</a>
						</div>
					</div>

				</div> 


				<div class="container">

					<h1 class="title product "> Product Featured </h1>
					<div class="product">
						<img src="images/productimg1.png" >
						<h2>Product Featured 1</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation  anim id est laborum.</p>
					</div>
					<div class="product">
						<img src="images/productimg2.png" >
						<h2>Product Featured 2</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation  anim id est laborum.</p>
					</div>
					<div class="product">
						<img src="images/productimg3.png" >
						<h2>Product Featured 3</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation  anim id est laborum.</p>
					</div>
				</div>

				<div class="footer">
					<p>Home   |   Email sign-up   |   Site map   |   Privacy   |   Cookies & ad choices   |   Terms of use   </p>
					<p>© 2015 Hewlett-Packard Development Company, L.P. </p>

				</div>
			</div>
		</div>
	</div>
</div>
