<ul class="nav nav-tabs main-page-sub">     
	<li role="presentation" ng-class="isTabActive('{{localize.asset_cis_state}}')">
		<a data-ui-sref="{{localize.asset_cis_state}}"><i class=""></i><span class="menu-span">{{localize.asset_cis}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.asset_lcm_state}}')">
		<a data-ui-sref="{{localize.asset_lcm_state}}"><i class=""></i><span class="menu-span">{{localize.asset_lcm}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.asset_eol_state}}')">
		<a data-ui-sref="{{localize.asset_eol_state}}"><i class=""></i><span class="menu-span">{{localize.asset_eol}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.asset_tickets_state}}')">
		<a data-ui-sref="{{localize.asset_tickets_state}}"><i class=""></i><span class="menu-span">{{localize.asset_tickets}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.asset_reports_state}}')">
		<a data-ui-sref="{{localize.asset_reports_state}}"><i class=""></i><span class="menu-span">{{localize.asset_reports}}</span></a>
	</li>
</ul>