<ul class="nav nav-tabs main-page-sub">     
	<li role="presentation" ng-class="isTabActive('{{localize.change_tickets_state}}')">
		<a data-ui-sref="{{localize.change_tickets_state}}"><i class=""></i><span class="menu-span">{{localize.change_tickets}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.change_successful_state}}')">
		<a data-ui-sref="{{localize.change_successful_state}}"><i class=""></i><span class="menu-span">{{localize.change_successful}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.change_cab_state}}')">
		<a data-ui-sref="{{localize.change_cab_state}}"><i class=""></i><span class="menu-span">{{localize.change_cab}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.change_agenda_state}}')">
		<a data-ui-sref="{{localize.change_agenda_state}}"><i class=""></i><span class="menu-span">{{localize.change_agenda}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.change_reports_state}}')">
		<a data-ui-sref="{{localize.change_reports_state}}"><i class=""></i><span class="menu-span">{{localize.change_reports}}</span></a>
	</li>
</ul>