<ul class="nav nav-tabs main-page-sub">     
	<li role="presentation" ng-class="isTabActive('{{localize.incident_incident_state}}')">
		<a data-ui-sref="{{localize.incident_incident_state}}"><i class=""></i><span class="menu-span">{{localize.incident_incident}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.incident_iqm_state}}')">
		<a data-ui-sref="{{localize.incident_iqm_state}}"><i class=""></i><span class="menu-span">{{localize.incident_iqm}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.incident_iseg_state}}')">
		<a data-ui-sref="{{localize.incident_iseg_state}}"><i class=""></i><span class="menu-span">{{localize.incident_iseg}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.incident_rtop_state}}')">
		<a data-ui-sref="{{localize.incident_rtop_state}}"><i class=""></i><span class="menu-span">{{localize.incident_rtop}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.incident_checklist_state}}')">
		<a data-ui-sref="{{localize.incident_checklist_state}}"><i class=""></i><span class="menu-span">{{localize.incident_checklist}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.incident_summary_state}}')">
		<a data-ui-sref="{{localize.incident_summary_state}}"><i class=""></i><span class="menu-span">{{localize.incident_summary}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.incident_rfo_state}}')">
		<a data-ui-sref="{{localize.incident_rfo_state}}"><i class=""></i><span class="menu-span">{{localize.incident_rfo}}</span></a>
	</li>
</ul>