<!-- navigation header name and sidebar -->
<div class="topnavbar-wrapper">
	<div class="container-fluid header-top">
		<div class="navbar-header">    
			<div class="logo">
				<i class="icon-logohp-grey"></i>
				<a class="navbar-brand" data-ui-sref="dashboard" href="#">ZOOM</a>
				<button  ng-click="miniMenu = !miniMenu" class="sidebar-toggle hidden-xs" id="toggle-left" ><i class="icon-navicon"></i></button>
			</div>
			<div>
				<ul class="nav navbar-nav user-layout-mini">
					<li class="borderR">
						<a bs-dropdown="userActivity" data-html="true"><i class="marR5 icon-user2"></i>User</a>
					</li>
					<li class="borderR">
						<button ng-disable="ivalue" type="button" class="btn btn-default" ng-model="selectedLayout" data-html="1" bs-options="icon.value as icon.label for icon in icons" bs-select>
							Action <span class="caret"></span>
						</button>
					</li>
					<li><a ><i class="icon-question-circle"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>	

<div class="asidebar aside" ng-class="miniMenu ? 'sidebar-mini' : '' ">
	<ul class="nav nav-sidebar">	
		<li class="searchfilter"><input ng-model="query" type="text" class="form-control search" placeholder="Search..."></li>
		<li ng-repeat="list in menuList | filter:query"  ng-class="isTabActive('{{list.tabName}}')" >
			<a data-ui-sref="{{list.tabName}}" ng-click="showsubmenu = !showsubmenu" mobile-menu toggle-class="isOpen">
				<i class="{{list.icon}}"></i>
				<span class="menu-span">{{list.name}}</span>
				<i class="icon-angle-right arrow"></i>
			</a>		
			<ul class="sub-menu">			
				<li class="{{submenu.divider}}" ng-class="isTabActive('{{submenu.tabName}}')" ng-show="query || showsubmenu && !miniMenu" ng-repeat="submenu in list.submenu | filter:query" >
					<a data-ui-sref="{{submenu.tabName}}"><i class="{{submenu.icon}}"></i>
					<span class="menu-span">{{submenu.name}}</span></a>
				</li>
			</ul>	
			<ul class="nav-sub">
				<li class="nav-sub-header"><span>{{list.name}}</span></li>
				<li data-ui-sref="{{submenu.tabName}}" class="{{submenu.divider}}" ng-repeat="submenu in list.submenu" >
					<a><i class="{{submenu.icon}}"></i>
					<span class="menu-span">{{submenu.name}}</span></a>
				</li>
			</ul>
		</li>
	</ul>
</div>

