<ul class="nav nav-tabs main-page-sub">     
	<li role="presentation" ng-class="isTabActive('{{localize.problem_rca_state}}')">
		<a data-ui-sref="{{localize.problem_rca_state}}"><i class=""></i><span class="menu-span">{{localize.problem_rca}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.problem_icar_state}}')">
		<a data-ui-sref="{{localize.problem_icar_state}}"><i class=""></i><span class="menu-span">{{localize.problem_icar}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.problem_agenda_state}}')">
		<a data-ui-sref="{{localize.problem_agenda_state}}"><i class=""></i><span class="menu-span">{{localize.problem_agenda}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.problem_action_state}}')">
		<a data-ui-sref="{{localize.problem_action_state}}"><i class=""></i><span class="menu-span">{{localize.problem_action}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.problem_reports_state}}')">
		<a data-ui-sref="{{localize.problem_reports_state}}"><i class=""></i><span class="menu-span">{{localize.problem_reports}}</span></a>
	</li>
</ul>