<ul class="nav nav-tabs main-page-sub">     
	<li role="presentation" ng-class="isTabActive('{{localize.service_hpessx_state}}')">
		<a data-ui-sref="{{localize.service_hpessx_state}}"><i class=""></i><span class="menu-span">{{localize.service_hpessx}}</span></a>
	</li>
	<!-- <li role="presentation" ng-class="isTabActive('{{localize.service_network_state}}')">
		<a data-ui-sref="{{localize.service_network_state}}"><i class=""></i><span class="menu-span">{{localize.service_network}}</span></a>
	</li> -->
	<li role="presentation" ng-class="isTabActive('{{localize.service_alerts_state}}')">
		<a data-ui-sref="{{localize.service_alerts_state}}"><i class=""></i><span class="menu-span">{{localize.service_alerts}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.service_gogreen_state}}')">
		<a data-ui-sref="{{localize.service_gogreen_state}}"><i class=""></i><span class="menu-span">{{localize.service_gogreen}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.service_agenda_state}}')">
		<a data-ui-sref="{{localize.service_agenda_state}}"><i class=""></i><span class="menu-span">{{localize.service_agenda}}</span></a>
	</li>
</ul>