<ul class="nav nav-tabs main-page-sub">     
	<li role="presentation" ng-class="isTabActive('{{localize.supplier_scorecard_state}}')">
		<a data-ui-sref="{{localize.supplier_scorecard_state}}"><i class=""></i><span class="menu-span">{{localize.supplier_scorecard}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.supplier_tickets_state}}')">
		<a data-ui-sref="{{localize.supplier_tickets_state}}"><i class=""></i><span class="menu-span">{{localize.supplier_tickets}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.supplier_review_state}}')">
		<a data-ui-sref="{{localize.supplier_review_state}}"><i class=""></i><span class="menu-span">{{localize.supplier_review}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.supplier_tar_state}}')">
		<a data-ui-sref="{{localize.supplier_tar_state}}"><i class=""></i><span class="menu-span">{{localize.supplier_tar}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.supplier_sla_state}}')">
		<a data-ui-sref="{{localize.supplier_sla_state}}"><i class=""></i><span class="menu-span">{{localize.supplier_sla}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.supplier_cms_state}}')">
		<a data-ui-sref="{{localize.supplier_cms_state}}"><i class=""></i><span class="menu-span">{{localize.supplier_cms}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.supplier_com_state}}')">
		<a data-ui-sref="{{localize.supplier_com_state}}"><i class=""></i><span class="menu-span">{{localize.supplier_com}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.supplier_iventory_state}}')">
		<a data-ui-sref="{{localize.supplier_iventory_state}}"><i class=""></i><span class="menu-span">{{localize.supplier_iventory}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.supplier_procurement_state}}')">
		<a data-ui-sref="{{localize.supplier_procurement_state}}"><i class=""></i><span class="menu-span">{{localize.supplier_procurement}}</span></a>
	</li>
	<li role="presentation" ng-class="isTabActive('{{localize.supplier_reports_state}}')">
		<a data-ui-sref="{{localize.supplier_reports_state}}"><i class=""></i><span class="menu-span">{{localize.supplier_reports}}</span></a>
	</li>
</ul>